<section id="articles" class="section">
    <div class="container pb-4 mt-md-3">
        <div class="d-flex justify-content-center mt-1 mt-md-3">
            <h1 class="">
                <a href="/articles"> מאמרים </a>
                </h1>
        </div>
        <hr class= "mt-1">
        <div>