
<footer>
  <div class="d-flex justify-content-between bg-dark pt-3 px-5">
    <div class="">
      <a href="http://temaneikineret.org.il/index.htm">לאתר הישן</a>
    </div>
    <div class="">
      <p>כל הזכויות שמורות &copy; 2019</p>
    </div>
  </div>
</footer>

</div> <!-- wrapper-->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
<script src="/js/preloader.js"></script>
<script src="/js/bibliography.js"></script>

</body>

</html>