<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/breakpoints.css">
    <link rel="stylesheet" type="text/css" href="/css/lightbox1.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">

    <title>תימני כנרת</title>
</head>

<body>
    <div class="wrapper"> <!-- So Footer will always be on bottom but NOT fixed-->
            <div class="preloader-wrapper">
                    <div class="preloader">
                        <img src="/images/tail-spin-3.svg" alt="NILA">
                    </div>
                </div>
       
       