<div class="my-modal align-items-center">
    <div class="my-modal-content">
        <div class="d-flex justify-content-between">
            <p class="m-2"> </p>
            <span class="close m-2">&times;</span>
        </div>
        <hr>
        <div class="text-center">
                <a class="btn btn-light" href="#" role="button" id="modal-go-to-btn">עבור להערה בעמוד</a>
        </div>
    </div>
</div>