
<section id="gallery" class="section">
    <div class="container mt-md-4">
        <div class="d-flex justify-content-center my-3">
            <h1>
                <a href="/photos">
                    תמונות <i class="fas fa-camera-retro"></i></h1>
                </a>
        </div>

        <hr class="mt-n1">


