<% include partials/header %>
<% include partials/navbar %>
<% include partials/articles %>


        <div class="m-1 mt-md-4">
            <div>
                <a href="/articles/article1">
                    <p>
                        <b>
                            התנהגות פוליטית בישראל, סיפורם של "תימני כנרת" פונקציונליזם חברתי או קולוניאליזם אשכנזי?
                        </b>
                        <br>
                        כתב: גיל מנצור, החוג למדע המדינה, אוניברסיטת ת"א
                    </p>
                </a>
            </div>

            <div>
                <a href="/articles/article2">
                    <p>
                        משה פרג -
                        <b>
                            "דקל גבה צמרת"
                        </b>
                    </p>
                </a>
            </div>

            <div>
                <a href="/articles/article3">
                    <p>
                        גיל מנצור -
                        <b>
                            סיפורו של שלט: הסיפור שלי
                        </b>

                    </p>
                </a>
            </div>

            <div>
                <a href="/articles/article4">
                    <p>
                        <b>
                            המעבר לרחובות
                        </b>
                        - מתוך:
                        "מרמורק בת 60 סיפור של התחלה..."
                    </p>
                </a>
            </div>

            <div>
                <a href="/articles/article5">
                    <p>
                        <b>
                            סיפורו של שלט - המאבק נגד הסרת השלט בבית המוטור
                        </b>
                        <br>
                        מתוך ספרו של פרופ' יהודה ניני "ההיית או חלמתי חלום"
                    </p>
                </a>
            </div>

        </div>
    </div>
</section>


<% include partials/footer %>