<% include partials/header %>
<% include partials/navbar %>

<section id="articles" class="section">
    <div class="container mt-5">
        <div class="d-flex justify-content-center mb-3">
            <h1 class=""> מאמרים </h1>
        </div>
        <hr>

        <div class="mt-4">
            <div>
                <a href="articles/article1">
                    <p>
                        התנהגות פוליטית בישראל, סיפורם של "תימני כנרת" פונקציונליזם חברתי או קולוניאליזם אשכנזי?
                        <br>
                        כתב: גיל מנצור, החוג למדע המדינה, אוניברסיטת ת"א
                    </p>
                </a>
            </div>

            <div>
                <a href="articles/article2">
                    <p>
                            משה פרג - "דקל גבה צמרת"
                    </p>
                </a>
            </div>

            <div>
                <a href="articles/article3">
                    <p>
                            גיל מנצור - סיפורו של שלט: הסיפור שלי
                    </p>
                </a>
            </div>

        </div>
    </div>
</section>


<% include partials/footer %>