<% include partials/header %>
<% include partials/navbar %>

<section id="history" class="section">
    <div class="container mt-5" id="his_1">
            <div class="d-flex justify-content-center">
                <h1 class=""> היסטוריה <i class="fas fa-book-open"></i></h1>
            </div>
            <!-- <hr> -->
            <div id="history_content" class="d-flex flex-column-reverse">
            </div>
        </div>
            
</section>

<script src="js/history.js"></script>

<% include partials/footer %>