<% include partials/header %>
<% include partials/navbar %>

<section id="history" class="section">
    <div class="container mt-md-4" id="his_1">
        <div class="d-flex justify-content-center mt-3">
            <h1 class=""> היסטוריה <i class="fas fa-book-open"></i></h1>
        </div>
        <div class="text-center">
                <a href="/articles/article1">
                        מבוסס על
                        <b>
                            התנהגות פוליטית בישראל, סיפורם של "תימני כנרת" פונקציונליזם חברתי או קולוניאליזם אשכנזי?
                        </b>
                </a>
            </div>
        <!-- <hr> -->
        <div id="history_content" class="d-flex flex-column-reverse">
        </div>

        
    </div>

</section>
<script src="js/history-a.js"></script>

<% include partials/footer %>