<% include partials/header %>
<% include partials/navbar %>


<div class="main-content mt-md-4 text-center">

    <!-- <hr class="my-5"> -->

    <div class="container index-content p-3">
        <div class="row">


            <!-- ==== RIGHT SIDE ==== -->
            <div class="col-lg-3">
                <div>
                    <h5 class="p-2 p-md-4">סיפורם של תימני כנרת</h5>

                    <p class="px-md-2 text-justify">
                        בשנת 1909 עלו ממחוז שרעב שבתימן מספר משפחות ובראשן הרב דוד ישראל צאירי
                        המכונה אלשריעה (השופט, הדיין). העלייה היתה עוד בטרם שליחות יבנאלי לתימן (אשר היתה בין השנים 1911
                        - 1912), ובתקופה בה האימפריה העות'מאנית עדיין שלטה הן בתימן והן בארץ ישראל.
                    </p>

                    <a href="/articles/article1">להמשך המאמר</a>

                </div>

                <div class="py-4">
                    <h5 class="p-2 p-md-4">סיפורו של שלט - הסיפור שלי </h5>
                    <p class="px-md-2 text-justify">
                        קוראים לי גיל מנצור.
                        אני בנו של בן ציון מנצור יבדל"א, נכדו של משה מנצור ז"ל שנולד בתימן בשנת 1897 ונפטר בשנת 2002
                        (בגיל 105) ונינו של חיים מנצור ז"ל הקבור בכנרת. סבי משה עלה לארץ בשנת 1907, בהיותו בן 10, עם
                        הוריו ואחותו, סלמה, דרך פורט סעיד שבמצריים. עם עלייתם לארץ הם התיישבו ליד המושבה כנרת. זמן קצר
                        לאחר הגעתם למקום נכנעו הוריו ואחותו של סבי לרעב ולמחלת הקדחת ונפטרו. סבא, שהיה עדיין ילד, נותר
                        לבדו. לימים, הוא אהב לספר לנו הנכדים כיצד אברהם הרצפלד, מי שדאג לקליטת התימנים בכנרת, לקח אותו
                        תחת חסותו, ואף לקח אותו לטיפולים בבית החולים בטבריה.
                    </p>

                    <a href="/articles/article3">להמשך המאמר</a>

                </div>
            </div>

            <!-- ==== CENTER ==== -->
            

            <div class="col-lg-6 order-first order-lg-0 mb-4"> 
                    <div class="mb-5">
                            <img src="/images/gallery/life-in-kineret/8.jpg" class="img-fluid" alt="Responsive image">
                        </div>
                <div id="kineret-sign" class="p-0 px-md-2">
                    <p>
                        "כאן בסביבה זו של ביצת כנרת התיישבה קבוצה קטנה מעולי תימן, עשר משפחות: צאירי-מרגלית, מנצור, יפת
                        ונדאף.
                        הם
                        עלו לארץ בתחילת שנת 1912, התמקמו בחדרה, עבדו בייבוש ביצות ונטיעות. בסוף שנת 1912, בנדודיהם אחר
                        עבודה,
                        הגיעו
                        לחצר כנרת. עבדו כפועלים בחוות שבסביבה, עקרו סידריות, הכשירו קרקע, עבדו בייבוש הביצה, בסלילת כבישים,
                        וכן
                        בעבודות התשתית למפעל החשמל בנהריים.
                    </p>
                    <p>
                        "ב- 1915 נבנו עבורם, בקרבת בית המוטור, חמישה בתים ועליהם נוספו צריף ואהלים. הם קבלו מכנרת בהדרגה 80
                        דונם
                        אדמה
                        והחלו בגידול ירקות ומשק-חי. בבית המוטור גר הרב של "תימני כנרת" - דוד בן ישראל צאירי ועוד שתי משפחות.
                    </p>
                    <p>
                        "ב-1930, לאחר 18 שנים, הועברו "תימני כנרת" להתיישבות קבע בכפר מרמורק ליד רחובות. זה היה מושב התימנים
                        הראשון
                        בארץ ישראל.
                        כך הסתיימה תקופה רבת סבל ויסורים, דלות, חולי ושכול.
                        עדים לכך קברותיהם הרבים בבית העלמין של כנרת."
                    </p>
                </div>
            </div>



            <!-- ==== LEFT SIDE ==== -->
            <div class="col-lg content_left text-justify">
                <h5 class="p-2 p-md-4 text-center">דקל רם צמרת<br> משה פרג</h5>
                <div class="p-2">
                    <p class="">
                        היסטוריה של עם נבנית מהרבה פרטים קטנים, שבסופו של דבר יוצרים תמונה גדולה. היא בנויה, כמו
                        בפסיפס, מאפיזודות קטנות שמשתלבות זו בזו ויוצרות סיפור גדול. ההיסטוריה של העם היהודי מורכבת
                        ועשירה
                        לאין
                        שיעור. לאורך מאה ועשרים דורות יצרו אותה אנשים רבים בדם ויזע. על בימתה הופיעו אנשים ומנהיגים בעלי
                        שיעור
                        קומה כמו משה רבנו, דוד המלך, הרמב"ם, דוד בן גוריון ועוד רבים אחרים.
                    </p>
                    <p class="">
                        למעשה, כל יהודי באשר הוא, הוסיף משהו קטן משל עצמו להיסטוריה של עמנו. כל אחד מאיתנו הוא נקודת צבע
                        בודדת
                        על הבד שעליו מצוירת התמונה הגדולה. בתוך תמונה זו מופיעים כתמי צבע משמעותיים ובולטים. בתקופה
                        העתיקה
                        היו
                        אלה בין היתר יציאת מצרים, בנין בית המקדש הראשון, בנין בית המקדש השני, חורבן בית המקדש השני
                        ומלחמת בר
                        כוכבא. בעת החדשה היו אלה שיבת ציון המחודשת, הכרזת בלפור והקמת המדינה.
                    </p>

                    <p class="">
                        סיפורנו האישי המתחיל בסיפורם של כמה משפחות שעלו מתימן בשנת 1911 לערך, ואשר התיישבו ב"בית
                        המוטור",
                        הממוקם
                        פה, ליד המושבה כינרת, הוא אחד מכתמי הצבע הקטנים המופיעים בהיסטוריה של העם היהודי. הוא אינו סיפור
                        גדול
                        בהיבט הלאומי, ולא תמצא בו שמות של גיבורים גדולים, אך הוא בהחלט סיפור המבוסס על דם ויזע. יותר
                        מכל,
                        הוא
                        מבוסס על אמונה עזה בגורלו של העם היהודי ובקשר בינו לבין הארץ הזאת.
                    </p>
                    <div class="text-center">
                        <a href="/articles/article2">להמשך המאמר</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>



<% include partials/footer %>