<% include partials/header %>
<% include partials/navbar %>

<section id="links" class="section">
    <div class="container text-right mt-md-4">
        <h1 class="text-center my-3">קישורים</h1>
        <hr class="my-4">
        
        <div class="">
            <h3>מתוך האתר "תימני כנרת - מאה שנה לעליית תימני כנרת"</h3>

            <div class="">
                <a href="http://temaneikineret.org.il/K_dor_mavak.htm" target="_blank">סיפורו של שלט - המאבק נגד הסרת השלט
                    בבית המוטור
                </a>
            </div>

            <div class="">
                    <a href="http://temaneikineret.org.il/K_dor_moshe.htm" target="_blank">משה פרג - "דקל גבה צמרת"
                    </a>
            </div>
            
            <div class="">
                <a href="http://temaneikineret.org.il/K_dor_gilShelet.htm" target="_blank">גיל מנצור - סיפורו של שלט: הסיפור שלי</a>
                
            </div>
            <div class="">
                <a href="http://temaneikineret.org.il/K_politit.htm" target="_blank">התנהגות פוליטית בישראל, סיפורם של
                    "תימני כנרת" פונקציונליזם חברתי או קולוניאליזם אשכנזי?
                </a>
            </div>

        
            <div class="my-3">
                <h3 >מהאינטרנט</h3>

                <div>
                    <a href="https://he.wikipedia.org/wiki/%D7%AA%D7%99%D7%9E%D7%A0%D7%99_%D7%9B%D7%A0%D7%A8%D7%AA"
                    target="_blank">"תימני כנרת" בויקיפדיה</a>
                </div>
                <div>
                    <a href="https://www.haaretz.co.il/.premium-1.3196510" target="_blank">עיתון "הארץ": תימני כנרת מגורשים
                        ברקמה מוזהבת
                    </a>
                </div>
                <div>
                    <a href="http://www.ybz.org.il/_Uploads/dbsAttachedFiles/Article_88.7.pdf" target="_blank">יוסי בן ארצי:
                        'הו
                        כנרת של (מי)?'</a>
                </div>
                <div>
                    <a href="http://web.archive.org/web/20130927070429/http://www.haskama.co.il/mediation/document/yaman.pdf"
                        target="_blank"> גור מלמד - פרשת תימני כנרת: הבניית הקונפליקט</a>
                </div>
                <div>
                    <a href="https://www.efitours.co.il/2016/10/23/%D7%AA%D7%99%D7%9E%D7%A0%D7%99-%D7%9B%D7%A0%D7%A8%D7%AA-%D7%91%D7%9B%D7%A0%D7%A8%D7%AA/"
                        target="_blank">
                        "חיבורים וטיולים בישראל": סיור בעקבות תימני כנרת בכנרת
                    </a>
                </div>
            </div>
            
        </div>

    </div>
</section>


<% include partials/footer %>