<% include partials/header %>
<% include partials/navbar %>

<section id="names" class="section">
    <div class="container mt-md-4">
        <h1 class="text-center my-3">שמות המתיישבים</h1>
        <hr class="my-4">
        <p class="text-center mb-4 bold">עלו מתימן והתיישבו בכנרת</p>
        <div class="name-list-olim d-flex flex-wrap">

        </div>

        <p class="text-center my-4 bold">נולדו בכנרת</p>
        <div class="name-list-born d-flex flex-wrap">
        </div>

        <p class="text-center my-4 bold">נקברו באוהלו</p>
        <div class="name-list-passed d-flex flex-wrap">
        </div>

        <p class="text-center my-4 bold">פונו לרחובות</p>
        <div class="name-list-moved d-flex flex-wrap justify-content-around">


            <div class="col-md-4 text-center flex-wrap">
                <img src="http://temaneikineret.org.il/images/portrats/davidBenYisrael.jpg" class="img-thumbnail mb-2"
                    alt="">
                <p>
                    <b>
                        הרב דוד בן ישראל מרגלית - צאירי
                    </b>
                </p>
                <p>
                    <b>סעידה</b>
                    - אשתו
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="http://temaneikineret.org.il/images/portrats/SaraDavid.jpg" class="img-thumbnail mb-2" alt="">
                <p>
                    <b>
                        דוד בן דוד מרגלית
                    </b>
                </p>
                <p>
                    <b>זוהרה-שרה</b>
                    - אשתו
                </p>
                <p>
                    <b>מרים</b>
                    - בתו
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="http://temaneikineret.org.il/images/portrats/LeahYossef.jpg" class="img-thumbnail" alt="">
                <p>
                    <b>יוסף בן דוד מרגלית</b>
                </p>
                <p>
                    <b>לאה</b>
                    - אשתו
                </p>
                <p>
                    <b>אהובה</b>
                    - בתו
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="http://temaneikineret.org.il/images/portrats/ysraelRivka.jpg" class="img-thumbnail" alt="">
                <p>
                    <b>ישראל בן יוסף מרגלית</b>
                </p>
                <p>
                    <b>רבקה</b>
                    - אשתו
                </p>
                <p>
                    <b>שושנה</b>
                    - בתו
                </p>
                <p>
                    <b>בת-שבע</b>
                    - בתו
                </p>
                <p>
                    <b>נתנאל</b>
                    - בנו
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="http://temaneikineret.org.il/images/portrats/saidaShalom.jpg" class="img-thumbnail" alt="">
                <p>
                    <b>סאלם בן יחיא נדאף</b>
                </p>
                <p>
                    <b>חממה</b>
                    - חמותו
                </p>
                <p>
                    <b>סעידה</b>
                    - אשתו
                </p>
                <p>
                    <b>מלכה</b>
                    - בתו
                </p>
                <p>
                    <b>שרה</b>
                    - בתו
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="http://temaneikineret.org.il/images/portrats/HanaDavid.jpg" class="img-thumbnail" alt="">
                <p>
                    <b>דוד בן נתן צאירי</b>
                </p>
                <p>
                    <b>חנה</b>
                    - אשתו
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="http://temaneikineret.org.il/images/portrats/AyalaYehuda.jpg" class="img-thumbnail mb-2" alt="">
                <p>
                    <b>יהודה בן דוד מרגלית</b>
                </p>
                <p>
                    <b>גאזל-אילה-רחל</b>
                    - אשתו
                </p>
                <p>
                    <b>חזקיה</b>
                    - בנו
                </p>
                <p>
                    <b>שולמית</b>
                    - בתו
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="http://temaneikineret.org.il/images/portrats/seadyaLeah.jpg" class="img-thumbnail mb-2" alt="">
                <p>
                    <b>סעדיה בן נתן וסעידה צעירי</b>
                </p>
                <p>
                    <b>רחל </b>
                    - אחותו (עברה לפ"ת)
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="http://temaneikineret.org.il/images/portrats/EsterMoshe.jpg" class="img-thumbnail mb-2" alt="">
                <p>
                    <b>משה בן חיים מנצור</b>
                </p>
                <p>
                    <b>אסתר</b>
                    - אשתו
                </p>
                <p>
                    <b>מלכה</b>
                    - בתו
                </p>
                <p>
                    <b>ידידה</b>
                    - בתו
                </p>
                <p>
                    <b>הדסה</b>
                    - בתו
                </p>
            </div>

            <div class="col-md-4 m-3 text-center">
                <img src="http://temaneikineret.org.il/images/portrats/RivkaAvram.jpg" class="img-thumbnail mb-2" alt="">
                <p>
                    <b>אברהם בן דוד מרגלית</b>
                </p>
                <p>
                    <b>רבקה</b>
                    - אשתו
                </p>
                <p>
                    <b>ציפורה</b>
                    - בתו
                </p>
                <p>
                    <b>רות</b>
                    - בתו
                </p>
                <p>
                    <b>אביגיל</b>
                    - בתו
                </p>
            </div>

            <div class="col-md-12 m-3 text-center">
                <p>
                    <b>נחמה בת זכריה</b>
                    - עברה לפתח תקווה
                </p>
                <p>
                    <b>מרים בת יהודה</b>
                    - עברה לפתח תקווה
                </p>
                <p>
                    <b>מרים בת מעודד</b>
                    - עברה
                </p>
            </div>
        </div>
    </div>
</section>


<script src="js/names-a.js"></script>

<% include partials/footer %>