<% include partials/header %>
<% include partials/navbar %>

<section id="names" class="section">
    <div class="container my-5">
        <h1 class="text-center mb-3">שמות המתיישבים</h1>
        <hr class="my-4">
        <div class="name-list d-flex flex-wrap text-right">

        </div>
</section>


<script src="js/names.js"></script>

<% include partials/footer %>