<% include partials/header %>
<% include partials/navbar %>

<section id="gallery" class="section">
    <div class="container mt-md-4">
        <div class="d-flex justify-content-center my-3">
            <h1> תמונות <i class="fas fa-camera-retro"></i></h1>
        </div>

        <hr class="mb-n3">

        <div class="gallery row justify-content-around p-3">
            <div class="col-sm-6 col-md-4 my-4">
                <a href="photos/life-in-kineret">
                    <img src="images/gallery/life-in-kineret/1.jpg" class="img-fluid"> </a>
            </div>
            <div class="col-sm-6 col-md-4 my-4">
                <a href="photos/kineret-cemetery">
                    <img src="images/gallery/life-in-kineret/1.jpg" class="img-fluid"> </a>
            </div>

        </div>

    </div>
</section>

<!-- <script src="js/photos.js"></script> -->

<% include partials/footer %>