<% include partials/header %>
<% include partials/navbar %>
<% include partials/photos %>

        <div class="gallery row justify-content-around p-3">
            <div class="col-sm-6 col-md-4 my-4">
                <a href="photos/life-in-kineret">
                    <img src="images/gallery/life-in-kineret/9.jpg" class="img-fluid"> </a>
                    <p class="text-center p-2">החיים בכנרת</p>
            </div>
            <div class="col-sm-6 col-md-4 my-4">
                <a href="photos/kineret-cemetery">
                    <img src="images/gallery/kineret-cemetery/11.jpg" class="img-fluid"> </a>
                    <p class="text-center p-2">בית הקברות בכנרת</p>
            </div>
            <div class="col-sm-6 col-md-4 my-4">
                <a href="photos/bet-hamotor">
                    <img src="images/gallery/bet-hamotor/3.jpg" class="img-fluid"> </a>
                    <p class="text-center p-2">בית המוטור</p>
            </div>

        </div>

    </div>
</section>


<% include partials/footer %>