<% include ./../partials/header %>
<% include ./../partials/navbar %>
<% include ./../partials/articles %>



        <div class="pb-3 px-md-5">

            <h5 class="text-center p-3 bold">
                המעבר לרחובות
            </h5>
            <h5 class="text-center">
                מתוך:
                "מרמורק בת 60 סיפור של התחלה..."
            </h5>

            <div class="my-4">
            </div>

            <p>
                &nbsp;
                בשנת 1930 עברנו לרחובות. איך עברנו לרחובות?
            </p>
            <p>
                &nbsp;
                אנחנו למעשה לא רצינו לעבור, הרבה זמן הם רצו שאנחנו נעבור, ואנחנו לא רצינו. הדבר היחיד שגרם לנו לעבור –
                זה היה חוסר במניין בבית הכנסת. קודם היה מניין. מתימן עברו הספרים. אבא לא הביא מתימן דבר חוץ מספרי תורה
                וספרי לימוד.
            </p>
            <p>
                &nbsp;
                כשבאנו לחדרה אז אבא בנה סוכה, ששימשה כבית-כנסת, וגם כשעברנו לכנרת קבעו בית אחד שעשו אותו בית-כנסת. על יד
                הכנרת לא היה לנו מניין. התחילו לבוא אלינו מאיכרי כנרת, ההורים שלהם שבאו מחו"ל אחרי המלחמה. היו באים
                להתפלל רק בשבת, והיה מניין. והיה עוד יהודי מצמח, שהיו לו רק בנות, 6-7 בנות. היתה לו חנות מכולת גדולה
                בצמח. היה בא להתפלל בשבת. אחר כך השתנו הזמנים. הזקנים בכנרת עשו להם בית-כנסת, כי באו עוד זקנים, וכבר היה
                להם מניין, ואחר כך בא גם שוחט, שהיה שוחט גם בשביל נהריים. עשו בית-כנסת והתפללו שם, ולנו אז לא היה מניין
                גם בשבת. אבא אמר להם: בתימן לא היתה לי גלות. הגלות היא בארץ ישראל. אם בשבת אני לא יכול להתפלל בציבור זו
                גלות. אני לא יכול להישאר פה. ואנחנו הרבה שנים דרשנו מקק"ל שיביאו לנו עוד משפחות, אבל הם לא רק שלא רצו
                להביא עוד משפחות אלא רצו את המשפחות שלנו להעביר למקום אחר. ואז באה ההצעה לעבור למקום חר. אנחנו כל הזמן
                התעקשנו, עד שהגיע הרגע הזה שאין מניין, אמרנו: אנחנו מסכימים לעבור. עכשיו השאלההיתהלאן לעבור. אמרו יש לכם
                שלושה מקומות: 1. ואדי חווארת', 2. ואדי חנין, 3. רחובות. אמרו: טוב יבוא חד מהסוכנות ויקח אתכם. בחרנו
                משלחת. קודם באו לעמק חפר. זה הי שטח מלא חלפה, שאפילו הגמל נעלם בפנים. לא היה שום יישוב. מצד אחד פתח-תקוה
                ומצד שני חדרה. אמרנו: לא. אמר: טוב, ניסע לנס ציונה. הסתובבו בכל הגבעות האלה, אין נפש חיה. אמרנו: לא.
                באנו לרחובות, ראינו שיש פה מרחב, פה קרוב לרחובות. חתמנו שמסכימים לעבור לרחובות.
            </p>
            <p>
                &nbsp;
                אחר כך עלתה השאלה מי יממן הבנייה? קק"ל אמרה: אין כסף. הסוכנות אמרה: אין כסף. בראש המחלקה להתיישבות של
                הסוכנות עמד דוד שטרן. זה היה האדם שלא אהב תימנים, אולי שונא מזרחים. אני מכיר אותו אישית טוב אד. נסעץי
                אליו הרבה פעמים והרבה פעמים היו צעקות ביני ובינו. הסוכנות אמר: אין כסף. בא הרצפלד (היה יו"ר במרכז
                החקלאי), והוא היה ידיד של תימני כנרת. תמיד בשבת היה יושב אצל תימני כנרת, שר שירים ומבסוט. הוא היה חבר
                קבוצת כנרת. הוא השיג הלוואה בשביל לבנות עשרה בתים ראשונים. בהלוואה הזאת, 110 לירות שטרלינג, בנו 10 בתים,
                ואז היה מקום להעביר את תימני כנרת. כשגמרו לבנות את הבתים עברנו הנה. לפני זה דיברנו על קציב. אמרו: תקבלו
                תקציב, והכל דברים בעלמא. כשעברנו הנה, הביאו טרקטור, חרשו פה את המגרשים, אחר-כך בא פקיד הסוכנות. אני זוכר
                את שמו כי אני התעסקתי בדברים האהל. קראו לו זוגורודסקי. אמר: תקבלו 82 לירות וזה כולל רפת, גדר, נטיעות,
                חריש וכו'. כפי שכבר אמרית, אנחנו התימנים, אנשים תמימים ומאמינים לכל דבר. אמרנו: טוב, אם אתם ומרים זה
                מספיק, עשיתם חשבון טוב. בסדר. אמרו: אבל צריך לחתום על שטרות. אמרנו: נחתום לך שטרות. כולנו חתמנו שטרות.
                לקח את השטרות והלך הביתה
            </p>
            <p>
                <b>
                    פרשת הבאר והצינורות
                </b>
            </p>
            <p>
                &nbsp;
                אנחנו מחכים, מתי נקבל תקציב? אין כסף. כל פעם הולכים לדוד שטרן: מה עם התקציב שלנו, הרי חתמנו שטרות. – אין
                כסף. כל פעם הולכים – אין כסף, אין כסף, ועד היום הזה לא קיבלנו דבר. עוד להו היו פה מים, עוד לא גמרו את
                הבאר, והיו צריכים ללכת להביא מים מקבוצת שילר. כשבנו פה את הבניינים הם מתחו מקבוצת שילר צינור של צול.
                המים לא הגיעו. אז בשביל הבניינים הביאו מים בעגלות מקבוצת שילר. בקבוצת שילר ראו שבאו העולים החדשים ואין
                להם מים, אז שבוע אחד הם הביאו לנו מים בעגלות, אבל כמה זמן הם יכולים להמשיך לעזור? גם קבוצת שילר היתה
                חדשה. אמרו: רבותי, אנשינו לא יכולים עוד, תדעו מה לעשות. היינו הולכים להביא מים או משילר או מפרדס קיפניס,
                או מלוינסון איפה שהמוטור עובד בפרדס. במשך שנתיים סחבנו מים בפחים. בכנרת סחבנו 18 שנה מים מן הירדן. פה
                סחבנו שנתיים על הראש, עד שגמרו פה לחפור את הבאר והעבירו את המכונה וגם עשו משאבה מהבאר. אחר-כך כשגמרו את
                הבריכה, חוברו צינורות מהבאר לבריכה. אמרו: הנה לכם מים. אמרנו: איפה הצינורות. אמרו: אין כסף. אמרנו:
                חתמנו, תקציב, שטרות? -אין כסף. והיו צרות צרורות. הנשים סבלו, והגברים סבלו. ואנחנו פה במקום בודד. הכפר
                זרנוגה לא רחוק מאיתנו פ, הערבים בלילה עובדים פה, צריך שלמור בלילה ולעבוד ביום. צריך לחפש פרנסה. הלכתי
                למושבה. היתה חנות אחת שלחרל"פ, הלכתי לאב והסברתי לו: אומרים שישראל ערבים זה לזה. איך ערבים זה לזה, אם לא
                יעזרו אחד לשני, איזו ערבות זו? אצר: מה אתה רוצה? אמרתי: באו זרקו אותנו פה, אין לנו מים ואין לנו דבר.
                אנחנו צריכים צינורות. אמר: כמה אתם צריכים? אמרתי: אנחנו קודם כל צריכים צינור ראשי, בערך 300 מטר של 3
                צול, ואחר-כך צינורות לחבר לבתים. מי שירצה לחבר צינורות יחבר, מי שלא רוצה יעשה רק ברז. קודם כל צינור
                כללי. אמרתי לו: כסף אין לנו, רק שטרות אנחנו יכולים לתת, מה דעתך? אתה יכול לעזרו. הוא חשב רגע ואמר: שמע,
                אני איד לך, אני יכול לתת לכם 50% במזומן ו-50% בשטרות.ארתי לו: אין כסף מזומן, רק שטרות, ואחר-כך יעבדו
                וישלמו. שם דבר לא יילך לאיבוד. אנחנו לא נברח. כל מה שיגיע לך תקבל. אמר: לא. עזבתי אותו, הלכתי אל סוחר
                אחר, שמו נתן. אמרתי לו אותו דבר. אמר: אדוני, למה לך להתעייף ולדבר הרבה. אני מוכר רק במזומן. יש לך מזומן,
                אני מוכן אפילו להוריד לך במחיר, אבל מזומן. אין לך מזומן – חבל על כל הדברים שלך. אמרתי: מה עם עזרה? אמר:
                אני לא סוכנות ולא קק"ל אני בסך הכל סוחר ורוצה להרוויח.
            </p>
            <p>
                    &nbsp;
                    אחר-כך אני מסתובב אחרי העבודה בעיר ורואה, איפה שהיום בית האיכר, אז עוד הי שטח ריק, פתאום אני רואה שם מישהו פוקעצים מאוטו. ידבתי שם, מסתכל. אני רואה אדם נכנס ויוצא. הוא אומר: מה אתה מסתכל, אתה רוצה לקנות משהו? אמרתי לו: אני רוצה לדבר אתך, אבל אני עוד מהסס. אמר: דבר, נשמע. אמרת: שמע, אנחנו עולים חדשים ברחובות, באנו מכנרת. פה זרקו אותנו, לא מים לא שום דבר. מחפשים מישהו שימכור לנו צינורות שנוכל להעביר מים מן הבריכה לבתים. שאל: כמה אתה צריך? אמרתי: בערך 300 מ' ומשהו. אמר: טוב, אוכל למכור לך פילו 100 מ'. אמרתי לו: לא זאת השאלה, השאלה שאין לנו כסף, רק שטרות, ואחר-כך נשלם לאט. אמר: זה קשה. ומי היה זה? קוראים לו זלמן פורר. הוא חי עד היום. כל פעם שאני הולך למושבה אני נכנס לבקר אותו. אז אמר: אני רק סוחר חדש. אני לא יכול כבר עם שטרות מהתחלה. מה יהיה? אין לי כסף. אמרתו לו: בשביל זה זה אניהססתי. ישבתי, דיברתי איתו, אז הוא אמר: אני, לפי דבריך, אני מרחם עליכם. אמרתי לו: אתם מרחם, אבל ה' לא מרחם ולא עוזר לנו. אמרתי לו: תביט, אין לנו כסף, לו היה לנו כסף היינו עושים את הכל, אבל – אין. ההעברה מכנרת לכאן עלתה לנו 5 לירות כל משפחה, ואנחנו לא זוכרים מי שילם, הסוכנות או קק"ל. אבל אין, זה משפחות. באותו הרגע הוא אומר: אתה יודע, שמע, תבוא אלי מחרתיים, אני אלך ואברר בכמה מקומות. אם אוכל לקבל אשראי אספק לך תמורת שטרות. אמרתי לו: אני מודה לך בעד כל הרצון.
            </p>
            <p>
                    &nbsp;
                    הלכתי אליו אחרי יומיים, אמר: אני מקווה שיהיה בסדר. תן לי את המידה, מה שאתה רוצה, אני אביא לך. הלכתי ומדדתי ת הכלוהבאתי לו רשימ, ואמרתי לו: מי שירצה ברז, או מי שירצה צינור של צול או חצי צול הוא יקנה בעצמו ממך, ואני אחראי לכל. אמר: בסדר. ככה עשינו. אחרי יומיים בא אוטו מלא צינורות. הוא בא עם האוטו והתחיל לפזר הצינורות מהבריכה עד החוץ. אחר-כך לקחתי אצלו מפתחות של 4 צול על חשבוני והתחלנו לחבר את הצינורות. בכל מגרש אנחנו שואלים את בעל הבית: איפה אתה רוצה אתהצינורו? איפה שהוא רוצה מעמידים לו וממשיכים הלאה, עד שהגענו לסוף. העמדנו שיבר בהתחלה. אח-כך כל אחד דאג. אני הראשון שחיברתי צינורות ונטעתי את המגרש ח'ושח'אש, ואשכויות. פה היה הנציב העליון. אחר כך התחילו לשלם את השטרות הראשונים בסדר. יש אנשים שנשארו חייבים לו כסף במשך למש שנים. הוא בא אלי ואמר לי: אתה רואה, אני לא הרווחתי שם דבר ונשארו חייבים. אמרתי לו: תביט, זה שלא שילם לך הוא ישלם לך. אמר: ואם הוא ימות? אמרתי: אם ימות, אני אשלם לך. כסף שלך תקבל אפילו עם ריבית. אמר: לא רוצה ריבית, לא לוקח ריבית. האיש היחידי ברחובות שעזר לנו ואני מודה לו. החנות שלו מול רחוב השוק, ועד היום הוא עובד. כמה שעזר לנו אז, שהיה כמו שנותנים לאדם טיפת מים לפני שיוצאת לו הנשמה ומחיים אותו. זה היה מצבנו, קשה מאד.
            </p>
            <p>
                    &nbsp;
                    אני עצמי היתה לי חבית שהבאתי מכנרת. יש לה "היסטוריה" שלמה. הנהגים היו זורקים אותה ואני מעלה אותה לאוטו. זו עזרה לי מאד. הייתי ממלא אותה בבריכה, סוגר אותה ומגלגל אותה. היא הכילה 8 פחים. היה קשה. אין מקום להתרחץ. עשיתי לצריף ובפינה מקלחת, ובתי שימוש היו מאחורי הרפתות. שתי ילדות שלי מתו מדלקת ריאות. ילדים מתו מטיפוס, מדלקת ריאות ומאבעבועות.
            </p>
            <p>
                    &nbsp;
                    אחר-כך אחרי שהנחהו את הצינורות, כל אחד אפילו לא קנה בשר בשבת, אבל הלך וקנה לו ברז, עשה קצת ירק. כששיש מים הכלאחר. עשו מנבטות של ח'ושח'אש ושל לימון, להכין בשביל לנטוע, כי היתה להם עוד אדמה, שבעה דונמים, שהרי קיבלנו עשרה דונמים. העיקר שהיו מים והתחילו החיים להיות אחרת. עבדו פה ועבדו שם, עד שבאה מלחמת השחרור.
            </p>

        </div>

    </div>
</section>


<% include ./../partials/footer %>