<% include ./../partials/header %>
<% include ./../partials/navbar %>
<% include ./../partials/articles %>



        <div class="pb-3 px-md-5">

            <h5 class="text-center px-md-3 bold">
                סיפורו של שלט
            </h5>
            <h5 class="text-center">
                מתוך: "ההיית או חלמתי חלום" סיפרו של פרופ' יהודה ניני
            </h5>

            <div class="my-4">
            </div>

            <p>
                &nbsp;
                "לפני שנים אחדות כשהוחל בפעולת ההנצחה של ראשוני כנרת כולל שחזור בית "המוטור" נדהמו בניהם של מתיישבי כנרת
                התימנים לראות כי זכר מקום אבותיהם ומקומם שלהם נפקד בשלט המציין את אתר ההנצחה העתידי.
            </p>
            <p>
                &nbsp;
                <a href="http://temaneikineret.org.il/images/shelet.jpg">השלט שהוצב </a>
                בידיהם לציין את מקום יישובם בכנרת הוסר בידי אהרון ישראלי בנו של בנציון ישראלי. אביו וחבריו לא רצו בהם
                בקרבת קבוצת כנרת והוא לא רצה בזכרם בשכנותה. הם נאבקו על כך שאבותיהם יונצחו במסגרת סיפורה של כנרת. חרה
                להם עד מאד שנמצא מקום להנצחתה של הפרדה "בובה", אותה בהמת עבודה שוודאי היתה ראויה להנצחה, אך לא נמצא מקום
                מחוץ לבניין "המוטור", במקו בו עמדו בתיהם, להנצחת אבותיהם. לפיכך, לא ראו בניהם של תימני כנרת מוצא אלא
                לפנות אל בית-המשפט העליון, כדי לחייב את קבוצת כנרת לשמר את שלט "ההנצחה".
            </p>
            <p>
                &nbsp;
                מן הראוי להביא את פסק דינו של נשיא בת-המשפט העליון, השופט מאיר שמגר וחבריו השופטים:
            </p>
            <p>
                &nbsp;
                <b>
                    פסק דין הנשיא
                </b>
            </p>
            <p>
                1. עתירה זו עניינה הסרתו, בעת האחרונה, של שלט הנצחה ל"תימני כנרת" שהוצב ביום 8/10/90 ליד בית "המוטור"
                בקבוצת כנרת. כן נתבקש צו זה שיכפה על המשיבים לשמר את שלט הזיכרון הנ"ל.
            </p>
            <p>
                2. שלט היזכרון הוצב בקבוצת כנרת, בהסכמת הקיבוץ, כשהוא מחובר לעץ דקל בשטי שבקרבת בית 'המוטור". הוא נותן
                כבוד לשר משפחות מעולי תימן שהגיעו לכנרת בשנת 1912, עבדו שם בייבוש הביצות, עקרו סידרות, הכשירו קרע, גידלו
                ירק ומשק חי, עבדו כפועלים בחוות שבסביבה ובסלילת כבישים ואף בעבודת התשתית הקמת תחנת החשמל בנהריים. חלק מן
                המתיישבים הללו התגורר בתוך בית "המוטור" ואחרים בצריפים ובאוהל שהוקמו ליד הבית האמור, אשר בו אוחסנה, בין
                היתר, גם המשאבה הראשונה ששאבה ממימי הכנרת לצורכי השקיה.

                בעקבות מגעים עם צאצאי המתיישבים התימנים שעברו בשנות השלושים בנסיבות השנויות במחלוקת לאזור יהודה והקימו
                שם את הכפר מרמורק, לבין אנשי קבוצת כנרת שבתחומה נמצא בית המוור, נקבע השלט הנ"ל בסוף שנות השמונים בשטח
                ליד בית ה"המוטור", אשר שוקם בינתיים והפך למקום תצוגה וזיכרון לתקופת ההתיישבות הראשונה בכנרת. באחד מחדרים
                גם נתלו תמונות ומסמכים, המתייחסים למתיישבים התימנים שגרו במקום בשנת 1912 ואילך. אל תוך החדר הזה גם הועבר
                השלט שהיה מוצב בחוץ ועל כך מלינים העותרים הדורשים החזרתו למקומו בקודם, או לחילופין, התקנתו על הקיר
                החיצוני של הבניין ליד הדלת (הנעולה) המובילה לחדר אשר בו התצוגה על המתיישבים התימנים.
            </p>
            <p>
                3. העתירה מעוררת, כמובן, אהדה, שהרי נועדה להטיח הנצחה נאותה למתיישבים שעלו ארצה בראשית המאה כדי לעבד את
                אדמתה בתנאים קשים של מחלות והתנכלויות של השכנים הערבים, ואשר רבים הוכרעו על ידי הקדחת ותנאי חיים קשים,
                וקבורים בבית הקברות של כנרת. אולם לצערנו, העתירה הוגשה ללא הכנה מספקת (...) לא היתה בידינו, על כן, הרירה
                אלא לדחות את העתירה, תוך שמירת זכויותיהם של העותרים לשוב ולפנות לבית משפט זה אם יכינו עתירתם כנדרש.
            </p>
            <p>
                אשר על כן הוחלט לדחות את העתירה (...)
            </p>
            <p>

                בשולי הדברים רואים אנו להוסיף, כי ניתן לחסוך את ההתדיינות שהיא, לטעמנו, מיותרת לחלוטין, אם תיענה בקשתם
                של העותרים ששלט הזיכרון הנ"ל יותקן על הקיר החיצוני של בית "המוטור", כפי שהוזכר לעיל. זוהי בקשה צנועה אשר
                לא צריך להיות קושי בהיענות לה, אם המשיבה הראשונה (קבוצת כנרת - י.נ.) תגלה רצון טוב, בהתחשב בשאיפתם העזה
                של העותרים להנציח פועלם החלוצי של אבותיהם.
            </p>
            <p>
                הנשיא: מץ שמגר השופט: י. קדמי השופטת: ד. דורנר
            </p>
            <p>
                ניתן היום, י"ג באב התשנ"ד (21.7.94 ).
            </p>
            <p>
                &nbsp;
                אין צורך לאמר כי קבוצת כנרת לא נענתה להמלצתו של בית המשפט העליון. בית משפט נכבד זה קבע באופן ברור כי
                אילו היה בא כוחם של בני תימני כנרת מבין את העתירה כראוי היה נענה לה. אולם קבוצת כנרת לא נרמזה. כאמור היה
                לקבוצת כנרת מקום מחוץ לבניין "המוטור" להנציח את הפרדה הנאמנה "בובה" אך לא היה באשפרותה להיענות לדרישה
                צנועה זו של בניהם של תימני כנרת".
            </p>
        </div>

    </div>
</section>



<% include ./../partials/footer %>