<% include ./../partials/header %>
<% include ./../partials/navbar %>
<% include ./../partials/articles %>



        <div class="pb-3 px-md-5">

            <h5 class="text-center p-3 bold">
                דקל רם צמרת | משה פרג
            </h5>
            <h5 class="text-center">
                במלאת מאה שנה להתיישבותם של "תימני כנרת"
            </h5>

            <div class="my-4">
            </div>

            <p>
                &nbsp;
                היסטוריה של עם נבנית מהרבה פרטים קטנים, שבסופו של דבר יוצרים תמונה גדולה. היא בנויה, כמו בפסיפס,
                מאפיזודות
                קטנות
                שמשתלבות זו בזו ויוצרות סיפור גדול. ההיסטוריה של העם היהודי מורכבת ועשירה לאין שיעור. לאורך מאה ועשרים
                דורות
                יצרו
                אותה אנשים רבים בדם ויזע. על בימתה הופיעו אנשים ומנהיגים בעלי שיעור קומה כמו משה רבנו, דוד המלך, הרמב"ם,
                דוד
                בן
                גוריון ועוד רבים אחרים. למעשה, כל יהודי באשר הוא, הוסיף משהו קטן משל עצמו להיסטוריה של עמנו. כל אחד
                מאיתנו
                הוא נקודת
                צבע בודדת על הבד שעליו מצוירת התמונה הגדולה. בתוך תמונה זו מופיעים כתמי צבע משמעותיים ובולטים. בתקופה
                העתיקה
                היו אלה
                בין היתר יציאת מצרים, בנין בית המקדש הראשון, בנין בית המקדש השני, חורבן בית המקדש השני ומלחמת בר כוכבא.
                בעת
                החדשה
                היו אלה שיבת ציון המחודשת, הכרזת בלפור והקמת המדינה.


            </p>
            <p>
                &nbsp; 
                סיפורנו האישי המתחיל בסיפורם של כמה משפחות שעלו מתימן בשנת 1911 לערך, ואשר התיישבו ב"בית המוטור", הממוקם
                פה,
                ליד
                המושבה כינרת, הוא אחד מכתמי הצבע הקטנים המופיעים בהיסטוריה של העם היהודי. הוא אינו סיפור גדול בהיבט
                הלאומי,
                ולא תמצא
                בו שמות של גיבורים גדולים, אך הוא בהחלט סיפור המבוסס על דם ויזע. יותר מכל, הוא מבוסס על אמונה עזה בגורלו
                של
                העם
                היהודי ובקשר בינו לבין הארץ הזאת.
            </p>
            <p>
                &nbsp; 
                הסיפור שלנו הוא סיפורם של קומץ אנשים צנועים שגרו בכפרים קטנים ומרוחקים בתימן, שהאמינו כי ימות המשיח
                קרבים
                וכי מקומם
                הוא בארץ ישראל. כאשר דרכה כף רגלם על אדמת הקודש, הם לא ידעו מה צפוי להם. הם סברו כי הגיעו אל המנוחה ואל
                הנחלה, וכי
                במהרה יוכלו להקים את בית-המקדש השלישי בירושלים. כאשר הגיעו אל חלקת האדמה שלחוף ימת כינרת, אל הבית הקטן,
                שהמשאבה שבו
                לא הפסיקה לטרטר גם בשעות הלילה, כאשר נדחקו זה אל זה, כמו בקופסת סרדינים, בניסיון לחטוף שעות שינה בודדות,
                כאשר היכו
                במעדריהם באדמה הקשה, הבינו כי ארץ ישראל נרכשת ביזע. כאשר נפלו בהם חללים, מי במחלות ומי ברעב, ללא הבחנה
                בין
                אישה
                לגבר, בין עולל לזקן, הבינו כי ארץ ישראל נרכשת בדם. יהיה זה לא נכון לומר כי ימיהם עברו בכינרת רק מתוך
                סבל.
                למרות זאת,
                הם הצליחו לקיים חיי קהילה ולהקים משפחות, וראו באדמת הכינרת את ביתם הקבוע. כאשר התנכלו להם המוסדות
                הציוניים,
                בציניות,
                ללא עוול בכפם ומתוך ניצול תמימותם וחולשתם הפוליטית, הבינו כי ארץ ישראל נרכשת בייסורים.
            </p>
            <p>
                &nbsp; 
                לאחר 18 שנה שבה נאחזו בציפורניהם באדמת הכינרת, הם עברו לאדמה שניתנה להם ליד המושבה רחובות ושם הקימו את
                הישוב
                מרמורק.
                הם נאלצו להתחיל הכול מחדש ולהתמודד עם קשיים מסוגים שונים, וכל זאת מבלי לומר נואש. למרות שההיסטוריה
                הרשמית
                דחקה את
                סיפורם לשוליים, הרי עבורנו הוא מהווה את הבסיס לקיומנו האישי. לולא אזרו הם את כוחם ואמונתם, ונאחזו באדמה
                ובחיים, לא
                היינו אנו כאן בין החיים. לכן סיפורם הוא גם סיפורנו, הוא מורשתנו, הוא דמנו. אנו מצווים להמשיך את סיפורם,
                לנצור אותו
                בלבנו ולהעבירו מדור לדור.
            </p>
            <p>
                &nbsp;
                כשאני נכנס ל"בית המוטור" שהפך למוזיאון קטן להנצחת משפחתנו, מתמלאות עיניי לחלוחית למראה תמונתה של סבתי
                רבקה
                ואחיותיה
                אסתר ונחמה, העודרות את השדה תחת השמש הקופחת. בעיניהן לא ניבט ייאוש או טרוניה, כי אם נחישות והתמדה. על
                הקיר
                תלויה גם
                תמונתו של אבי סבי, יוסף מרגלית, הפוסע לו בצעד בטוח בחצר המושבה כינרת, ראשו מהורהר. הקיר עטוף כולו
                בתמונותיהם
                של עוד
                בני המשפחה האחרים, שהיו השותפים לאמונה ולסבל. תמונות אלה ממלאות את לבי וגורמות לי לחוש גאווה, הערצה וגם
                התרגשות
                גדולה בו בעת.
            </p>
            <p>
                &nbsp; 
                מספרם של אלה שעברו מכינרת למרמורק היה קטן. מבין ילידי כינרת נותרו כיום בחיים רק דודתי בת שבע, בתם של
                רבקה
                וישראל
                מרגלית ואהובה, בתם של לאה ויוסף מרגלית. שתיהן נמצאות היום פה איתנו. אני מאחל להן בריאות ואריכות ימים.
                כשאני
                מביט
                סביבי ורואה את המשפחה הגדולה שנאספה כאן היום, וכשאני מביט ברשימות המרכיבות את השושלת המלאה של אותה קבוצת
                אנשים
                צנועים ומופלאים, מתרחב לבי ללא גבול. אני יודע שהדם, היזע והייסורים שלהם לא היו לשווא. כשאני צופה אל
                העתיד
                אני סמוך
                ובטוח כי צאצאיהם של "תימני כינרת" ימשיכו את השרשרת תוך הבאת כבוד לעצמם ולמדינה.
            </p>
            <p>
                &nbsp; 
                אני מכיר תודה לבני משפחתי הרחבה שדואגים שנה אחר שנה לקיים את הטקס המסורתי שבו פוקדים את "בית המוטור" ואת
                בית
                העלמין
                של המושבה כינרת, ומנציחים בכך את זכרם של "תימני כינרת". אני גאה להיות חלק מהשבט של "תימני כנרת".
            </p>
            <p>יהי זכרם ברוך!
            </p>
            <p>משה פרג
            </p>
            <p>בנה של שושנה מרגלית ז"ל, ילידת כינרת
            </p>
            <p>נכדם של ישראל ורבקה מרגלית (צאירי) ז"ל
            </p>
            <p>סוכות תשע"ב
            </p>
        </div>

    </div>
</section>

<% include ./../partials/footer %>