<% include ./../partials/modal %>
<% include ./../partials/header %>
<% include ./../partials/navbar %>
<% include ./../partials/articles %>




            <h5 class="text-center p-1 bold">
                התנהגות פוליטית בישראל, סיפורם של "תימני כנרת": פונקציונליזם חברתי או קולוניאליזם אשכנזי?
            </h5>
            <h5 class="text-center">
                כתב: גיל מנצור, החוג למדע המדינה, אוניברסיטת ת"א
            </h5>

            <div class="my-5"></div>

            <!-- ==== PART 1 ==== -->
            <div class="text-center p-1" type="button" data-toggle="collapse" data-target="#collapsePart1">
                <h5>
                    סיפורם של תימני כנרת

                </h5>
            </div>

            <div class="collapse" id="collapsePart1">
                <div class="card card-body-md px-2 py-1 py-md-3">
                    <p>
                         &nbsp;בשנת 1909 עלו ממחוז שרעב שבתימן מספר משפחות ובראשן הרב דוד ישראל צאירי המכונה
                        אלשריעה
                        (השופט, הדיין).
                        העלייה היתה עוד בטרם שליחות יבנאלי לתימן (אשר היתה בין השנים 1911 - 1912), ובתקופה בה האימפריה
                        העותומנית
                        עדיין שלטה הן בתימן והן בארץ ישראל <span>1</span>. משפחות התימנים אשר חיו בשלום ואחווה עם שכניהם
                        הערבים,
                        חיסלו את עסקיהן בתימן והחלו לעלות לישראל. בתחילה, נעו התימנים ברגל במשך שלושה שבועות עד שהגיעו
                        לעיר עדן,
                        משם, המשיכו בהפלגה לסואץ וליפו. עקב מזג אוויר סוער ששרר והעובדה שעדיין לא היה נמל ביפו, החליט
                        בעל האוניה
                        להמשיך לעבר חיפה ושם להוריד את הנוסעים. בחיפה שהו העולים התימנים פרק-זמן קצר מאד ומיד עברו
                        לחדרה, לאחר
                        שקיבלו הצעה לעבודה. בחדרה חיו התימנים בתנאי דוחק קשים ביותר עד שנת 1912 , אז הציע להם נציג
                        מאגודת
                        "השומר" לעבור ולהתיישב בגליל, הצעה לה נעתרו התימנים. כאשר הגיעו לאור הכנרת, החליטו חלק מהתימנים
                        להמשיך
                        לעבר יבנאל, והשאר, כ - 14 משפחות, החליטו להישאר במקום <span>2</span>.
                    </p>

                    <p>
                        &nbsp;בכנרת הוקצה לתימנים מבנה אחד בלבד והיה זה "בית המוטור", אשר הוקם ונבנה בשנת 1910
                        ביוזמתו של
                        האגרונום משה
                        ברמן - המנהל של חוות כנרת <span>3</span>. בבית המוטור אשר שימש לשאיבת מים מהירדן לצרכי השקיה היו
                        שלושה
                        חדרים בלבד, בהם התגוררו הרב ושתי משפחות נוספות. שאר משפחות התימנים התגוררו במבני טיט אותם הם בנו
                        בעצמם <span>4</span>. סדר יומם של התימנים החל בתפילה בבוקר אשר בסיומה יצאו לעבודה שכללה ייבוש
                        הביצות,
                        עקירת עצי שיזף, נטיעת אקליפטוסים ליבוש הביצות, הכשרת הקרקע לחקלאות וגידול משק חי וצומח. כמו כן,
                        עסקו
                        התימנים בעבודה שכירה ובקבלנות בחוות כנרת, בביתניה, בדגניה ובכנרת המושבה, ואף עסקו בעבודות תשתית
                        לתחנת
                        החשמל בנהריים ובסלילת כבישים באזור. התימנים סבלו ממחלות קשות, מקדחת ומתמותה רבה ומתוך המשפחות
                        שהגיעו
                        לכנרת נותרו רק עשר משפחות אשר אף הן איבדו רבים מיקיריהן <span>5</span>.
                    </p>

                    <p>
                       &nbsp;בשנת תרע"ד (1915) נעשה נסיון ראשון (ובלתי מוצלח) להקים את קבוצת כנרת בסמוך למושבם
                        של "תימני
                        כנרת";
                        בפועל, רק בשנות ה- 20 עלתה הקבוצה על הקרקע. יצוין כי הקרבה הפיסית שבין שתי הקבוצות לא רק שלא
                        הביאה
                        לאחווה ושותפות ביניהן, אלא שבין שתי קבוצות המתיישבים היו חיכוכים רבים, כפי שיצויין להלן.
                    </p>

                    <p>
                         &nbsp;באותה שנה (1915), נבנו לתימנים חמישה בתים נוספים (בנוסף ל"בית המוטור") אשר הספיקו
                        רק לחלק נוסף מהמשפחות
                        ולא לכולן. היה ברור לאנשי הציונות וההסתדרות כי מן הראוי לבנות לתימנים לפחות חמישה בתים נוספים
                        ובכך להקים
                        מושב, ואכן התקבלה החלטה לעשות כן <span>6</span>. יתרה מכך, הייתה כוונה לצרף למושב התימנים בכנרת
                        מספר
                        פועלים אשכנזים על מנת "שיהיו למורי-דרך לתימנים בדברים חדשים, אשר דרושים במקום הזה, איניציאטיבה
                        החסרה על
                        פי רוב לתימנים" <span>7</span>.
                    </p>

                    <p>
                         &nbsp;למרות כל זאת, קבוצת כנרת הערימה קשיים על "תימני כנרת" בדרכים שונות. קבוצת כנרת
                        התנגדה לבניית בתים נוספים
                        לתימנים ואף גרמה לעיכוב ולמניעת תחילת הבניה לתימנים <span>8</span>. קבוצת כנרת דרשה שתגיע למקום
                        "הוועדה
                        לברור תכניות המשקים" ואף עודדה את הועדה להחליט על העברת תימני כנרת ממקומם. ב. צ'רנמובסקי, חבר
                        קבוצת
                        כנרת, ציין בפני הועדה כי במקום אין מספיק מרחב מחיה לשתי קבוצות מתיישבים, ואין הוא רואה מוצא אלא
                        רק "בזה
                        שיעבירו את התימנים למקום אחר...." <span>9</span>.

                    </p>

                    <p>
                         &nbsp;קבוצת כנרת גם מציינת כי לתימנים יש שטח אדמה גדול יותר ופורה יותר הניתן להשקיה ביתר
                        קלות. חברי הקבוצה
                        מציינים כי הם נתקלים בבעיות והפתרון הפשוט הוא בהעברת התימנים ולקיחת אדמותיהם. לכן, מציינים חברי
                        הקבוצה:
                        "חשוב לנו מאד לדעת מתי ( ההדגשה במקור ) ואיך חושבת המחלקה להוציא לפועל את ההחלטה הזאת (העברת
                        "תימני
                        כנרת" ג.מ.), למען נוכל לסדר לנו תכנית עבודתנו לשנה הבאה ולגשת לעבודת ההכנה בזמן"
                        <span>10</span>.
                    </p>

                    <p>
                         &nbsp; בין חברי קבוצת כנרת לבין "תימני כנרת" התגלעו חילוקי דעות בעקבות טענת התימנים כי
                        חברי הקבוצה מנעו את
                        השקיית חלקות-האדמה שלהם, לא סייעו בידם בחריש האדמה, ויתרה מכך, אף מנעו מהם מי-שתיה
                        <span>11</span>. חברי
                        קבוצת כנרת לא הכחישו את הטענות אך הסבירו זאת בסיבות שעיקרן "עניי עירך קודמים"; משמע שהם לא
                        מסוגלים לספק
                        את הצרכים של שתי הקבוצות ולכן הם קודם מספקים את צרכיהם. נקודה זו מופיעה במכתב התגובה של חברי
                        קבוצת
                        כנרת:"אנו לא מנענו מהם (מהתימנים ג.מ.) מים להשקאה במידה (ההדגשה במקור) אשר ההשקאה הספיקה גם
                        עבורנו...
                        אשר למי השתיה - בזמן ההשקאה הם מקבלים מים מצינור ההשקאה העבור בקרבת הבתים ועכשיו כשאין מים
                        בצינור ההשקאה
                        הם סובלים באמת" <span>12</span>. בהמשך מציינים חברי כנרת כי עזרו מעט מאד בחריש של התימנים היות
                        והטרקטור
                        היה עסוק בהשקאת אדמותיהם. חברי הקבוצה אף מוסיפים כי עזרתם לתימנים לא תוכל לסייע בקיומם של
                        האחרונים
                        במושבה ומן הראוי להעבירם בהקדם <span>13</span>.

                    </p>

                    <p>
                        &nbsp;לבסוף, בשנת 1930, הועברו התימנים לרחובות. על כך אמר יוסף מרגלית מתימני כנרת":
                        "אנחנו למעשה לא רצינו
                        לעבור, הרבה זמן הם רצו שאנחנו נעבור, ואנחנו לא רצינו. הדבר היחיד שגרם לנו לעבור - זה היה חוסר
                        המניין
                        בבית הכנסת" <span>14</span>. אבא אמר להם "בתימן לא היתה לי גלות. הגלות היא בארץ ישראל. אם בשבת
                        אני לא
                        יכול להתפלל בציבור זו גלות. אני לא יכול להישאר פה. ואנחנו הרבה שנים דרשנו מקק"ל שיביאו עוד
                        משפחות, אבל
                        הם לא רק שלא רצו להביא עוד משפחות אלא רצו את המשפחות שלנו להעביר למקום אחר" <span>15</span>.
                    </p>
                    <p>
                         &nbsp;כך, לאחר כ- 19 שנה, הועברו "תימני כנרת" ממקום מושבם וייסדו את מושב העובדים הראשון
                        של בני העדה התימנית –
                        כפר מרמורק.
                    </p>
                </div>
            </div>

            <!-- ==== PART 2 ==== -->
            <div class="text-center p-1" type="button" data-toggle="collapse" data-target="#collapsePart2">
                <h5>
                    הרקע ההיסטורי לעליית תימני כנרת
                </h5>

            </div>

            <div class="collapse" id="collapsePart2">
                <div class="card card-body-md px-2 py-1 py-md-3">
                    <p>
                        &nbsp; 
                        בפרק זה אציג את הארועים המרכזיים אשר התחוללו בארץ-ישראל בשנים שבין עליית "תימני כנרת" לארץ ועד
                        העברתם לרחובות.רקע זה יסייע רבות בניתוח המקרה.
                    </p>
                    <p>
                        &nbsp; 
                        בתקופת הישוב היה המנדט הבריטי,כמו השלטון העותומני לפניו, מעין ממשלה אשר שלטה באמצעי הכפיה
                        האלימים
                        ובמערכת המשפט. פקודת העדות הבריטית (כהמשך לדפוס השליטה עותומני) העניקה סמכויות רבות ואוטונומיה
                        רבה
                        לקבוצות הדתיות השונות. דפוס שלטון זה הביא להתגבשותן של "שתי ישויות" מדיניות בארץ ישראל; האחת
                        ערבית
                        והשניה יהודית, אשר בה הזרם הציוני היה הדומיננטי. ל"ישות היהודית" אף היתה מעין ממשלה אשר שלטה על
                        אמצעי כפיה פוליטיים, כלכליים, חברתיים ואידיאלוגיים . שתי ה"ישויות" הללו הקימו ארגונים צבאיים אשר
                        היו
                        כפופים למרותן, ובאמצעותם ניסו להיאבק בשלטון הבלעדי של הבריטים בארץ ואף החריפו את המאבק ביניהן.
                        <span>16</span>
                    </p>
                    <p>
                        &nbsp; 
                        כבר בתקופת השלטון העותומני ( החל מסוף המאה ה - 19), ה"יחידה המדינית" היהודית לא היתה הומוגנית
                        בהרכבה
                        ואף בהגדרת מטרותיה. באותה עת, נחלק הישוב היהודי ל"ישוב חדש" ו"ישוב ישן", דבר אשר הביא ליצירת
                        מגזרים
                        חברתיים אשר מחד היו מאוחדים ברצון לחיות בארץ-ישראל, אך מאידך, היו בעלי אינטרסים, מטרות
                        ואידיאולוגיה
                        שונים לחלוטין. <span>17</span>
                    </p>
                    <p>
                        &nbsp; 
                        בין השנים 1904 - 1914 התרחשה העליה השניה. מספר סיבות הביאו לעליה זו, שהורכבה רובה מיהודים אשר
                        באו
                        מרחבי הקיסרות הרוסית; הסיבה הראשונה היתה היותה של ההסתדרות הציונית העולמית עובדה מוגמרת. הסיבה
                        השניה
                        היתה גל הפרעות האכזרי מאד שהחל לגאות בקיסרות הרוסית. הסיבה השלישית היתה אכזבת הצעירים היהודים
                        שנטו
                        לסוציאליזם לאחר כשלון מהפכת 1905 ברוסיה, ולבסוף המשבר שתכנית אוגנדה (1903) גרמה בתנועה הציונית
                        והבליטה את הצורך בעליה לארץ-ישראל ובקביעת עובדות בה. למרות שעל פי אומדנים עלו לארץ-ישראל בעליה
                        השניה
                        כ 40 -35 אלף יהודים, בשנת 1929 טען בן-גוריון ש"יתכן לקבוע בלי לטעות בהרבה, כי לא יותר מעשרה
                        אחוזים
                        מאנשי 'העליה השניה' שבאו לארץ ישראל במשך עשר שנים, מתרס"ד ועד פרוץ המלחמה, נשארו בארץ. כתשעים
                        אחוזים
                        שבו כלעומת שבאו".<span>18</span>
                    </p>
                    <p>
                        &nbsp; 
                        במהלך אותן שנים התגבשה התפיסה הציונית כי כדי להשיג אוטונומיה יש להשיג שליטה על ההון, האדמה
                        והעבודה.
                        את ההון השיגו המתיישבים היהודים ממקורות שמחוץ לארץ-ישראל ובעזרתו "כבשו" את האדמה ע"י רכישתה
                        מהערבים.
                        במאבק על "כיבוש העבודה" נחלו המתיישבים כשלון צורב היות ובעלי הקרקעות העדיפו את הפועלים הערבים
                        הזולים
                        על פני היהודים שדרשו שכר גבוה יותר. כפתרון הוצעו שתי אסטרטגיות: האחת, הבאת פועלים יהודים מתימן
                        שישתכרו כערבים, והשניה היתה רכישת אדמות למתיישבים היהודים שהיו חלשים בשוק העבודה (קרי יוצאי
                        אירופה),
                        שעליהן תוקמנה התיישבויות יהודיות אשר תחזקנה את עצמן. <span>19</span>
                    </p>
                    <p>
                        &nbsp; 
                        מבחינה פוליטית התאפיינה תקופת הישוב בפעילות פוליטית ערה (בעיקר בתחום המפלגתי) עם מוסדות נבחרים
                        שהיו
                        מעין גופים מחוקקים ומבצעים, מערכת שיפוט פנימית, אוטונומיה חינוכית ועוד. עד לשנות העשרים המערכת
                        הפוליטית בארץ היתה מצומצמת מאד וכללה את מפלגות "הפועל-הצעיר" , "פועלי-ציון, וה"בלתי-מפלגתיים".
                        יצויין כי האחרונים העדיפו להקים הסתדרויות פועלים על פני פעילות פוליטית, שמטרתן טיפול בנושאי
                        בריאות,
                        עבודה והקמת ישובים חקלאיים.<span>20</span>
                    </p>
                    <p>
                        &nbsp; 
                        רק בשנת 1920 בבחירות הראשונות לאסיפת הנבחרים, מתגלה תמונה ברורה יותר של המבנה החברתי פוליטי
                        בארץ-ישראל. בבחירות השתתפו כ - 20 מפלגות אשר התחלקו לארבעה גושים; הגוש הפועלי , הגוש האזרחי
                        (ימין
                        ומרכז), הגוש הדתי, והגוש העדתי. הגוש הפועלי אשר הציג רק שתי מפלגות ("אחדות העבודה" ו"הפועל
                        הצעיר")
                        התגלה כבר אז כחזק יותר מהגוש האזרחי אשר הציג תשע רשימות בבחירות. בחירות אלו שיקפו את השינוי שחל
                        בישוב; ככל שגברה העליה לארץ, אשר רובה ככולה הגיעה ממדינות אירופה, נחלש מעמדם של בני הארץ הותיקים
                        ובמיוחד הספרדים והחרדים ( אשר פרשו מרצונם מאסיפת הנבחרים בעקבות אי-הסכמה בנושא זכותן של הנשים
                        לבחור
                        ולהיבחר). לקראת סוף שנות העשרים, התגבש מבנהו של הישוב היהודי בארץ ישראל כשבמוקד ניצבת ההסכמה
                        המשותפת
                        של גוש הימין וגוש השמאל כי התנועה הציונית נמצאת במשבר ויש להחליפה. על רקע זה החל מאבק בין שני
                        הגושים
                        על השליטה בהנהגת התנועה הציונית. <span>21</span> כך, באותן שנים (שנות העשרים), עוצבו הגופים
                        הישוביים
                        - כנסת
                        ישראל, אסיפת הנבחרים, והועד הלאומי אשר פעלו במקביל למוסדות הציוניים - ההסתדרות הציונית והסוכנות
                        היהודית. <span>22</span>
                    </p>
                    <p>
                        &nbsp; 
                        נתון מעניין וחשוב הוא כי בין השנים 1931 - 1919 עלו לארץ-ישראל 116,796 יהודים כאשר רק 11,214
                        (פחות מ
                        - %10) הגיעו ממדינות אסיה ואפריקה לעומת 94,789 ( יותר מ - %81 אשר הגיעו ממדינות אירופה.
                        <span>23</span>
                    </p>
                    <a>חזרה לתפריט</a>
                </div>
            </div>

            <!-- ==== PART 3 ==== -->
            <div class="text-center p-1" type="button" data-toggle="collapse" data-target="#collapsePart3">
                <h5>
                    הקונצנזוס והקונפליקט
                </h5>
            </div>
            <div class="collapse" id="collapsePart3">
                <div class="card card-body-md px-2 py-1 py-md-3">
                    <p>
                        &nbsp; 
                        מוסכם על הכל, כי הפוליטיקה היא מאבק מתמשך בין קבוצות, אינטרסים ואידיאולוגיות שונות במטרה עיקרית
                        אחת
                        - השגת כח. מאידך, ובניגוד להסכמה כוללת זו, ישנה סוגיה מרכזית הנמצאת בוויכוח חריף בין אותם אנשים
                        החוקרים את התהליך הפוליטי. הסוגיה הנדונה היא האם בסיסה של המציאות הקונפליקטואלית הפוליטית
                        מאופיינת
                        במשחק סכום-אפס, המעיד על התנגשות בין אינטרסים מנוגדים שאינם ניתנים לגישור ללא שימוש באמצעי כפיה
                        פוליטיים, או שמה; בבסיסו של הקונפליקט ישנה נאמנות המשותפת לכלל הקהילה הפוליטית. כלומר, הסוגיה
                        הנדונה
                        (גם במקרה שלנו), מנסה לקבוע האם בסיס המציאות הפוליטית הוא קונצנזואלי או קונפליקטואלי.
                        <span>24</span>
                    </p>
                    <p>
                        &nbsp;
                        יצויין, כי בכל חברה קיימים אלמנטים סותרים המאלצים כל אחת משתי התיאוריות להתמודד עימם. כלומר, אלו
                        המחזיקים בתאוריה של קונצנזוס ומנגד, הימצאותם של יסודות קונצנזואליים בחברה סותרים את תיאוריית
                        הקונפליקט. אולם, אליבא שתי התיאוריות, התופעות הללו אשר לכאורה סותרות אותן, למעשה רק מחזקות אותן.
                        שכן, תטען התיאוריה הקונצנזואלית, הקונפליקט בחברה אינו מהווה סתירה כלל וכלל, היות והוא קיים על
                        בסיס
                        הקונצנזוס החברתי וממלא בחברה תפקיד חיוני של שיפור מדינות, מניעת התאבנות חברתית ואף שמירה על
                        ערנות
                        המגנה על החברה מפני עצמה. מנגד, בעיני התיאוריה הקונפליקטואלית, הקונצנזוס החברתי אינו אלא תוצאה
                        של
                        הקונפליקט הבסיסי המעיד על נצחונו של צד אחד. צד זה עושה שימוש בקונצנזוס על מנת להביא לסולידריות
                        חברתית ופוליטית (לכאורה), אשר תמנע קונפליקטים, ותאפשר את התבססותו של המנצח בשלטון כאילו הוא
                        מייצג
                        קונצנזוס. <span>25</span>
                    </p>
                    <p>
                        &nbsp; 
                        בעבודה זו, הגישה המעמדית והגישה הפונקציונליסטית מייצגות את שתי התיאוריות שצוינו לעיל. המעמדיים
                        יטענו
                        כי הכח הוא מצרך סכום-אפס. הם יטענו כי הפוליטיים והחלוקה הבלתי שיוויונית של הכח בחברה מעידים על
                        חלוקת
                        עבודה חברתית חיונית, המתחלקת באופן פונקציונלי בין הקבוצות השונות, ולא על איבה ניצחת וניצחית.
                        <span>26</span>
                    </p>
                    <p>
                        &nbsp; 
                        הסוציולוג הגרמני רלף דהרנדרוף היה בין המבקרים הראשונים של התיאוריה הפונקציונליסטית. בבואו לבקר
                        תיאוריה זו (אותה כינה התאוריה האינטגרטיבית) הציג אל כל מול טיעון פונקציונליסטי טיעון מתאוריית
                        הכפיה
                        כדלקמן:<span>27</span>

                        <ol>
                            <b>
                                טיעון פונקציונליסטי:
                            </b>
                            <li>
                                כל חברה נבנית מיסודות אחדים המאופיינים ביציבות והתמדה.
                            </li>
                            <li>
                                כל חברה וחברה היא מבנה של יסודות מלוכדים היטב.
                            </li>
                            <li>
                                לכל יסוד בחברה יש תפקיד והוא תורם לשימור החברה.
                            </li>
                            <li>
                                כל מבנה חברתי נשען ומבוסס על ערכים המוסכמים באופן מלא בין כל החברים.
                            </li>
                        </ol>
                        <ol>
                            <b>
                                טיעון מתיאוריית הכפיה:
                            </b>
                            <li>
                                בכל חברה ובכל מקום ישנם באופן מתמיד תהליכי שינוי.
                            </li>
                            <li>
                                קונפליקט חברתי וחילוקי דיעות קיימים בכל חברה ובכל מקום.
                            </li>
                            <li>
                                כל יסוד בחברה תורם ומסייע להתפוררותה.
                            </li>
                            <li>
                                כל חברה מבוססת על כפיית רצונם של חלק מהחברים על השאר.
                            </li>
                        </ol>

                        השוואה זו מסייעת אף היא להבין ולאפיין את ההבדלים שבין התיאוריות הקונפליקטואליות לבין התיאוריות
                        הקונצנזואליות.
                    </p>
                    <p>
                        &nbsp; 
                        הגישה הפונקציונליסטית, כפי שבאה לידי ביטוי בכתביהם של ש.נ. אייזנשטדט, מ. ליסק ו ד. הורביץ, תהווה
                        בסיס רעיוני קונצנזואלי לניתוח המקרה של "תימני כנרת". מנגד, מאמרו של ג. שפיר "קרקע, עבודה
                        ואוכלוסיה
                        בקולוניזציה הציונית: היבטים כלכליים ויחודיים" וספרו: Land, Labour and the origins of the
                        Israeli-Palestinian Conflict, 1882-1914 , בעלי אוריינטציה מעמדית, יהוו בסיס קונפליקטואלי להצגת
                        ניתוח
                        אלטרנטיבי, תוך הצגת בקורת על הניתוח הפונקציונליסטי.
                    </p>
                </div>
            </div>

            <!-- ==== PART 4 ==== -->
            <div class="text-center p-1" type="button" data-toggle="collapse" data-target="#collapsePart4">
                <h5>
                    ניתוח המקרה מנקודת מבט פונקציונליסטית קונצנזואלית
                </h5>
            </div>
            <div class="collapse" id="collapsePart4">
                <div class="card card-body-md px-2 py-1 py-md-3">
                    <b>
                        הגישה הפונקציונליסטית:
                    </b>
                    <p>
                        "החיים החברתיים נובעים ממקור כפול:
                        <br />
                        א) מדמיון האופי. ב) מחלוקת העבודה." <span>28</span>
                    </p>
                    <p>
                        &nbsp; 
                        ציטוט זה יכול להצביע על הליבה של התפיסה הפונקציונליסטית הרואה אנלוגיה בין החברה לבין האורגניזם
                        החי.
                        משמע, בכל חברה ישנם מרכיבים שונים בעלי תיפקודים שונים המאוחדים במכנה משותף המונע ניגודים פנימיים
                        מתמידים אשר לא ניתנים ליישוב. למרות שבקרב הפונקציונליסטים, בדוגמא לגישות אחרות, ישנם חוגים רבים
                        וזרמים שונים, נקודת המוצא המשותפת הא שכל מרכיב חברתי הינו בהכרח בעל תפקיד חיוני לתיפקוד הכולל של
                        החברה. עם זאת, למרות שהמרכיבים השונים בחברות השונות פועלים באופן שונה, כולם ממלאים תפקיד
                        אוניברסלי
                        זהה (גלוי או סמוי) הקיים בכל החברות בעולם.
                    </p>
                    <b>
                        ניתוח המקרה:
                    </b>
                    <p>
                        &nbsp; 
                        לדעתי, כל ניתוח, קונצנזואלי בכלל ופונקציונליסטי בפרט, חייב לזהות ולהציג בבסיס הניתוח את אותו
                        מכנה
                        משותף או את אותם ערכים משותפים אשר מוסכמים באופן מלא על כל הקבוצות בחברה. ערכם אלו, אליבא
                        הפונקציונליסטים, מונעים מהאלמנטים הקונפליקטואלים שצצים בחברה מלפגוע בה ולגרום להתפוררותה,
                        ומאפשרים
                        את התחדשותה, התרעננותה וערנותה המתמדת.<span>29</span> על-כן, תחילה, אציג את הבסיס הקונצנזואלי
                        במקרה
                        הנדון
                    </p>
                    <p>
                        &nbsp; 
                        ובכן, בין השנים 1910 - 1930 היה בחברה היהודית מרכיב אנושי דומיננטי, אשר הורכב מיוצאי מזרח-אירופה
                        ומרכזה. קבוצה זו פרקה את עול החברה המסורתית ונקטה בקו שידוע בכינוי "שלילת-הגולה" שעיקרו התבדלות
                        (אם
                        כי לא מוחלטת) מהתרבות של ארצות מוצאם. למרות שהיו קבוצות שונות בחברה היהודית, היה "מכנה משותף
                        מינימלי" אשר גיבש וליכד את כלל החברה היהודית ואשר הוגדר כ"חתירה להקמת מרכז לאומי יהודי בדרך של
                        עליית
                        יהודים לארץ-ישראל והתיישבות בה וגיבושם לכלל קהילה תרבותית ופוליטית בעלת ייחוד משל עצמה ומידה של
                        אוטונומיה".<span>30</span> משמע, ישנו מכנה משותף בסיסי וחזק לכלל היהודים בארץ-ישראל.
                    </p>
                    <p>
                        &nbsp; 
                        תשובתו של הרב דוד אלשריעה (יוזם עליית "תימני כנרת") לערבים אשר ניסו להניאו מלעזוב את תימן:
                        <b>"ידידי, זו הארץ שלכם, שלכם ושל אבותיכם, אבל לא שלי; אני-שלי ארץ ישראל, רחוק בפלסטין, שם הארץ
                            שלי
                            ושל אבותי"</b>,<span>31</span> מעידה כי "תימני כנרת" שותפים לבסיס חברתי זה.
                        על גבי בסיס קונצנזואלי זה, החלה להתפתח החברה היהודית בארץ-ישראל. אולם, במקביל צצו מרכיבים
                        קונפליקטואלים אשר הובילו לחיכוכים בין הקבוצות השונות בחברה היהודית. בהתייחס למקרה של התימנים ושל
                        יוצאי מדינות אירופה, ניתן לראות מספר מרכיבים קונפליקטואלים.
                    </p>
                    <p>
                        &nbsp; 
                        הבסיס הראשון הוא ההבחנה בין "עולה" ל"מהגר". <span>32</span>
                        עולה מוגדר כמי שבא לארץ-ישראל כדי להקים חברה יהודית עצמאית וחדשה , תוך שלילת המציאות החברתית
                        הקיימת
                        בה הוא חי בגולה. העולה מבצע אקט מודע של שינוי חברתי מודע. מאידך, המהגר מעתיק את מקום מושבו ואת
                        סביבתו החברתית הקיימת שלא מתוך שלילת אותה מציאות חברתית, אלא מסיבות שונות כגון דחף כלכלי, פוליטי
                        או
                        דתי. בניגוד לעולה, המהגר מגיע לסביבה חברתית חדשה אך אינו מעוניין לאבד את הרגליו החברתיים
                        הקודמים.
                        המהגר אף מסתגל לחברה החדשה בצורה מינימלית ביותר ורק כאשר הדבר הכרחי.<span>33</span> על-פי הבחנה
                        זו,
                        יוצאי מדינות אירופה יוגדרו כעולים, שכן הם החליטו ליצור את "היהודי-החדש" שעיקר אפיונו היה ציונות,
                        שאיפה למדינה יהודית בארץ-ישראל, חילוניות וסוציאליזם. אותם עולים ממדינות אירופה (בעיקר ממזרחה) אף
                        שינו את סגנון הדיבור שהיה נהוג בגולה והנהיגו דיבור ישיר-"דוגרי".<span>34</span> למעשה, הבסיס
                        ל"יהודי-חדש" (הנקרא "צבר") היה המונח "שלילת הגולה" שעיקרו התבדלות מהיהודי הגלותי.
                    </p>
                    <p>
                        &nbsp; 
                        מנגד, התימנים שמרו על המסורת שלהם מתימן, שמרו על "שפת הקודש" המיוחדת <span>35</span> ועל הרגליהם
                        החברתיים תרבותיים עימם הגיעו לארץ. לדוגמא, המשך החיים הקהילתיים סביב הרב שהיה ב"בית-המוטור",
                        התייחסות עצמית כאל קבוצה הומוגנית אחת כפי שנהגו לחתום על המכתבים: "תימני-כנרת"<span>36</span>
                        לבין
                        יוצאי אירופה, שלימים הקימו את "קבוצת-כנרת", היה ללא ספק מקור לקונפליקט בין הקבוצות.
                    </p>
                    <p>
                        &nbsp; 
                        ש.נ איזנשטט מציג את הדברים בצורה חדה וברורה: "מיבנם המיוחד של תהליכי האנומיה הנתונה בפנינו
                        (הבעיתיות
                        במבנה החברתי של עדות המזרח ג.מ )מסתבר מתוך השוני האיכותי (ההדגשה במקור ג.מ) בין החברה הדתית
                        מסורתית
                        ( עדות המזרח) לבין החברה החילונית-רציונלית-לאומית של הישוב החדש." <span>37</span> מרכיב בעייתי
                        נוסף
                        הוא נטייתם של בני עדות המזרח (ובכלל זה התימנים), לפרוס רשתות חברתיות הומוגניות פנים עדתיות, זאת
                        בניגוד ליוצאי אירופה.<span>38</span>
                    </p>
                    <p>
                        &nbsp; 
                        כפי שהוצגו לעיל "תימני-כנרת" אכן התרכזו סביב הרב והיוו קבוצה הומוגנית ביותר. כך, שיתכן, ונטייה
                        זו אף
                        היא הביאה לקונפליקטים או לפחות לחוסר התמזגות בין שתי הקבוצות.
                    </p>
                    <p>
                        &nbsp; 
                        לבסוף, ישנו את המרכיב האובייקטיבי אשר מבחין בין התימנים לבין יוצאי אירופה. מרכיב זה הוא השוני
                        התרבותי, חברתי, חינוכי ומסורתי בין שתי הקבוצות. גם אם שתי הקבוצות היו מנסות לשכוח את עברן ולהקים
                        חברה יהודית חדשה, הדבר היה בלתי אפשרי. שהרי, לא ניתן ליצור יש מאין, ובמהלך הנסיון להקים חברה
                        חדשה כל
                        אחד חייב לחזור ולהיעזר באישיותו, בהבנתו ובתפיסת עולמו כפי שכבר עוצבה. ראיה לכך ניתן למצוא
                        בניסיונותיהם של ה"צברים" ליצור את ה"יהודי-החדש" אשר למרות כל ניסיונותיהם לשלול את הגולה, הושפעו
                        רבות
                        מהוריהם ומהרעיונות אליהם נחשפו בגולה.<span>39</span>
                    </p>
                    <p>
                        &nbsp; 
                        כך נוצר מצב שבו ישנה קבוצה גדולה של "צברים" חלוצים אשכנזים, אשר מייצגים את הרעיונות הציוניים (על
                        פי
                        הבנתם וקביעתם) שאופיינו במודרניות, חילוניות, רציונליות וסוציאליזם. מנגד, ישנה קבוצה קטנה של
                        תימנים
                        השומרים על ערכיהם ואורח חייהם התרבותי חברתי. בין שתי הקבוצות הללו היה בסיס חברתי עמוק וחזק, אך
                        כפי
                        שהוצג, סיבות רבות הביאו להתפתחות קונפליקטים בין הקבוצות, זאת מבלי לפגוע בקונצנזוס ביניהן. זהו
                        הבסיס
                        הפונקציונליסטי לניתוח המקרה של "תימני כנרת".
                    </p>

                    <b>
                        הפונקציונליזם החברתי בכנרת
                    </b>
                    <p>
                        &nbsp; 
                        אליבא הפונקציונליסטים, בכל מצב חברתי קיים, ובוודאי שבסיטואציה שכזו של מאבק להקמת המדינה, כל מבנה
                        חברתי וכל קבוצה חברתית צריכים לפעול ולמלא תפקיד חברתי מסוים. ואכן, היתה חלוקת תפקידים בין
                        הקבוצות
                        השונות בחברה היהודית כדלקמן; יוצאי אירופה שהיו מודרניים ובעלי רעיונות מדיניים וציוניים מתאימים,
                        הופקדו על ניהול הישוב הציוני. מאידך, לתימנים הוקצה תפקיד של הוצאת רעיון "כיבוש העבודה" לפועל,
                        שעיקרו
                        החלפת הפועלים הערבים הזולים.<span>40</span>
                        גם אם "תימני כנרת" הגיעו לארץ-ישראל עוד לפני שיבניאלי יצא לשליחותו בתימן, אין כל סיבה שלא ימלאו
                        אף
                        הם את הפונקציה שלשמה הובאו שאר התימנים. פונקציה זו היתה פרי רעיונו של ארתור רופין אשר יצא מנקודת
                        ההנחה כי התימנים שהינם בעלי כושר גופני גבוה והיותם חרוצים, מסורים ומסתפקים בשכר נמוך, יהוו
                        מתחרים
                        טובים לפלחים הערבים. על כך כתב א. רופין: "... אורח חייהם היה כשל הערבים ידעו להתקיים בצמצום וכח
                        הסתפקותם במועט, אהבת העבודה וסגולותיהם השכליות הקימו לעצמם בא"י בסיס מועט לקיום".<span>41</span>
                    </p>
                    <p>
                        &nbsp; 
                        עזריאל קמון, מהחוג להיסטוריה של עם-ישראל באוניברסיטת תל-אביב, מציין כי היו לבטים מסוימים
                        (מוסריים
                        ופרקטיים) ביחס לרעיון הבאת התימנים לארץ-ישראל. <span>42</span> אולם, לבסוף הוחלט במוסדות
                        הציוניים
                        ובמוסדות הישוב על שליחותו של יבניאלי לתימן במטרה להביא עובדי אדמה לארץ-ישראל. להלן חלק מכרוז של
                        יבניאלי כפי שפרסם בתימן:"...כל אדם מכם אשר שנאה עזה לגלות ואהבה לארץ-ישראל מקננת בליבו ואשר יש
                        לו
                        גוף בריא מוכשר לעבודת האדמה הקשה ואשר יש לו הוצאות הדרך עד העיר יפו. האיש אשר שלוש אלה לו יעלה
                        לא"י...<span>43</span>. התייחסות זו לתימנים כאל חומר עבודה אנושי בעל תפקיד פונקציונלי עתידי
                        מוגדר,
                        קרי עבודת האדמה, מופיע מספר פעמים נוספות אצל יבניאלי; לדוגמא, "היהודים עצמם נבדלים בגופם החלש
                        מהגויים בעלי הגוף היפה והבריא. חומר אנושי לא"י לא מצאתי פה ....." <span>44</span>, או מאידך,
                        "...ובכל זאת האנשים (היהודים התימנים ג.מ. ) בריאים. הגופים המגולים תמיד לאור ולשמש אשר מראיהם
                        כעין
                        הנחושת, מוצקים, הרגליים חזקות, העיניים.... כמעט תמיד בריאות ומאירות...." <span>45</span>
                    </p>
                    <p>
                        &nbsp; 
                        ללא ספק עצם הרעיון לצאת ולהביא יהודים מתימן שיהיו חזקים, בריאים ומסתפקים בשכר מועט כדי לתפוס את
                        מקומם של הערבים הוא בבסיסו רעיון פונקציונליסטי מובהק (כל עוד קיים הבסיס הקונצנזואלי המשותף).גם
                        דבריו
                        של יבנאלי שנכתבו שנתיים לאחר עליית התימנים מעידים על תפיסה פונקציונליסטית שעיקרה שלכל פונקציה
                        חיובית
                        יש לעתים גם דיספונקציות כדלקמן:"... מרוצים היינו בוודאי אילו היו עולים מתימן רק אותם היהודים שהם
                        בריאים בגופם ומוכשרים לעבודת האדמה הקשה. ואולם הדבר אינו בידנו.
                        בעליה המונית אי אפשר להפריד באופן מלאכותי חלקים שונים מן העולים ולהגיד להם: "הישארו פה והניחו
                        לחבריכם לעלות! " לכן היתה כל שיירה ושיירה העולה מתימן מביאה איתה סרח עודף של בני אדם שאי אפשר
                        היה
                        להם לחיות על עבודתם: זקנים, חלשים, חולים...".<span>46</span>
                    </p>
                    <p>
                        &nbsp;
                        כך החל מצב בו היה מכנה משותף שאיחד את כולם, אך כל קבוצה מילאה תפקיד חברתי אשר בישוב היהודי.
                        התימנים
                        היו בעיקר פועלי אדמה אשר תפקידם היה לדחוק את רגליהם של הערבים מהשליטה בשוק העבודה. מולם, יוצאי
                        מדינות אירופה, אשר לא יכלו להתמודד על "כיבוש העבודה" עם הפועלים הערבים או עם כל התימנים, היו
                        מעצבי
                        האידיאולוגיה הציונית, ואף הוטל עליהם למלא תפקיד בסוציאליזציה הלאומית של התימנים ולעשות אותה
                        לנתיניה
                        של התנועה הציונית.<span>47</span>
                    </p>
                    <p>
                        &nbsp; 
                        היות והפועלים האשכנזים בניגוד לתימנים לא הצליחו להתמודד בהצלחה על כיבוש העבודה, היה צורך למצוא
                        להם
                        פתרון קיומי אחר. לכן, הועלה הרעיון של "כיבוש האדמה", שעיקרו רכישת אדמות בהון של ההסתדרות
                        הציונית. על
                        אדמות אלו יוקמו התיישבויות קואופרטיביות לפועלים האשכנזים אשר ימלאו את כל צורכיהם מבלי להיאבק עם
                        הפועלים התימנים או הערבים.<span>48</span>
                        כך, כל קבוצה תתרום למאבק הציוני בהתאם לכישוריה ותקבל את צרכיה הקיומיים; מי במסגרת מאבק בפועלים
                        הערביים ומי בהתיישבויות קואופרטיביות.

                    </p>
                    <p>
                        &nbsp; 
                        ואכן, על פי המסמכים מאותה עת, במקרה של "תימני-כנרת" הרעיון בישובם בכנרת (ולמעשה מרגע הגעתם לארץ)
                        היה
                        הפיכתם לפועלים. כך נכתב במזכר שהוצא בעקבות ביקור ה"ועדה להתיישבות התימנים בכנרת" ב שנת 1925:
                        "...
                        ביסוד השכונה היה רעיון ע"ד יצירת שכונת פועלים שיעבדו במשקי הסביבה...".<span>49</span> משמע, אין
                        כל
                        כוונה וכל הגיון ש"תימני כנרת" המסוגלים להתמודד בשוק העבודה יקימו משק עצמאי למחייתם תוך החלשת הכח
                        היהודי. אולם, אט אט חל שינוי; "תימני כנרת" אשר בתחילה היו כשאר התימנים ( קרי החליפו את מקומם של
                        הפועלים הערבים בעבודות שונות), החלו להקים משק עצמאי בכנרת, וזאת על פי הנחיית המוסדות. נקודה
                        מעניינת
                        זו מופיעה במכתבו של הרב דוד ישראל:"... אנחנו תימני כנרת נודיע לכם כי כאשר הגענו לכנרת אפילו עץ
                        אחד
                        לא היה לתחילת עבודתנו סתימת הביצה ואחך כך חפרנו בורות בשביל "האקליפטוס" אחר כך סיקלנו אבנים
                        הוצאנו
                        סגרות באדמת הק"ק בכנרת ואחר כך החליט המרכז על עבודה עצמאית ואמר ינסה אותנו אם נוכיל להוציא לנו
                        חיים
                        מעבודת האדמה אם נראה שהם זריזים ופועלים חרוצים אנחנו נסדר אותם באדמה כל הצורך... שאנחנו נוכל
                        לעבוד
                        ולהוציא פרי מעבודתנו".<span>50</span> בכך, למעשה חדלו התימנים מלמלא את התפקיד שיועד להם באותה
                        תקופה,
                        קרי מאבק על כיבוש העבודה, ומצאו פתרון קיומי דומה לזה שיועד ליוצאי מדינות אירופה. על הפסקת העבודה
                        ותחילת מציאת פתרון עצמאי, מספר יוסף מרגלית: "התחילו עובדים. עבדו בביתניה, בדגניה ובכנרת, לפעמים
                        גם
                        במשק הפועלות של חנה מייזל: חוות כנרת. יום אחד בא מנהל העבודה ואמר להם: יש פקודה מחיפה להפסיק את
                        העבודה. אמרו לו: להפסיק את העבודה? אמר: כן." {...} " אחרי שישה חודשים (מהפסקת העבודה) ג.מ) יצאנו
                        ולקחנו אדמה על ידנו. לקחנו חלקות אדמה, האדמה לא היתה הפקר לגמרי, אבל אפשר היה לקחת. כל אחד לקח
                        חלקה
                        ועשינו ירקות ואת התוצרת שלחנו לדמשק." <span>51</span>
                    </p>
                    <p>
                        &nbsp; 
                        פתרון עצמאי זה של התימנים אשר היה מקובל על הרשויות לא הוסכם על חברי קבוצת כנרת. למרות הסכמה על
                        בניית
                        בתים נוספים לתימנים ואף הקצאת כספים לצורך ביסוסם הדבר התעכב עקב התנגדות חברי
                        הקבוצה.<span>52</span>
                        יתרה מכך, על פי גישה זו, לא רק ש"תימני כנרת" חדלו מלמלא את התפקיד הפונקציונלי שיועד להם, אלא שהם
                        פגעו בסיכויי ההישרדות של קבוצת כנרת שחייבת היתה את אדמות התימנים על מנת להתקיים באופן עצמאי;
                        שהרי,
                        יוצאי אירופה בניגוד לתימנים לא מסוגלים היו להתמודד בשוק העבודה.
                    </p>
                    <p>
                        &nbsp; 
                        כך נוצר מצב שלא רק שהצורך הפונקציונלי בהשארת "תימני כנרת" בכנרת נעלם, אלא שאף החל מאבק בין
                        "תימני
                        כנרת" לקבוצת-כנרת על המשאבים הנחוצים לקיום ובבסיסם האדמות ומי-השתיה וההשקיה. יש לזכור, כי
                        קבוצת-כנרת
                        שלטה על המשאבים החיוניים אשר לא תמיד הספיקו לשתי הקבוצות, ואף היתה חלק מקבוצת הרוב הן בישוב והן
                        במוסדות אשר דנו וקיבלו את ההחלטה בנושא העברת התימנים מכנרת.
                    </p>
                    <p>
                        &nbsp; 
                        ההיגיון הפונקציונלי מבחינה חברתית באותה עת הוא ברור. שתי קבוצות חיו על שטח אדמה שלא מספיק
                        לשתיהן.
                        הצורך החברתי הוא לא לפגוע ביוצאי אירופה שלא מסוגלים להתמודד בשוק העבודה, אלא לאפשר להם את מירב
                        התנאים הקיומיים במקום בו הם יושבים. ביחס לתימנים, המסוגלים להתמודד בשוק העבודה, אותם ניתן להעביר
                        למקום אחר
                    </p>
                    <p>
                        &nbsp; 
                        לא ניתן לטעון שהיתה כפיה היות ו"תימני כנרת" הביעו את הסכמתם לעבור לאזור רחובות זאת לאחר שבחנו
                        מספר
                        מקומות אחרים.<span>53</span> כמו כן (וכפי שצויין לעיל), "תימני כנרת" השתתפו באופן שווה בבחירות
                        להסתדרות כך שיכלו להיות שותפים בהכרעות שהתקבלו. נכון הדבר שכוחם של "תימני כנרת" ביחס לקבוצת כנרת
                        היה
                        מועט ואף היו קונפליקטים בין שתי הקבוצות. אולם, תופעות אלו, על פי גישה זו, נתפסות כחלק אינטגרלי
                        מעצם
                        קיומה של כל חברה והן מאופיינות בחוסר הקביעות ובהשתנות המתמדת שלהן.
                    </p>
                    <p>
                        &nbsp;
                        לסיכום, ניתן לאמר כי מזווית ראיה פונקציונליסטית, סיפורם של "תימני-כנרת" הינו סיפור על מהגרים
                        שהגיעו
                        לארץ ישראל מתוך כוונה שימלאו צורך מסויים. התיישבותם בכנרת בסמוך לקבוצת כנרת אשר רוב/כל חבריה היו
                        יוצאי אירופה, בשילוב הפסקת הצורך בעבודתם ומיעוט המשאבים הקיומיים לשתי הקבוצות, היו בבסיס ההחלטה
                        להעביר את "תימני-כנרת" לרחובות.
                    </p>
                    <p>
                        &nbsp; 
                        למרות שההיגיון הפונקציונלי שבבסיס העברת "תימני כנרת" הוא ברור, ישנן מספר נקודות שאינן מתאימות
                        לפרדיגמה זו. הנקודה הראשונה היא ללא ספק אופי הפתרון. אם אכן היה צורך חברתי אמיתי ש"תימני כנרת"
                        ימשיכו להתמודד בשוק העבודה, כיצד זה שניתנה להם האפשרות להקים במקום אחר מושב עצמאי, בדיוק כמו
                        שהחלו
                        לעשות על אדמת כנרת. משמע, שהצורך הפונקציונלי, כפי שהוצג עד כה, לא היה בבסיס ההחלטה להעביר את
                        "תימני-כנרת".
                    </p>
                    <p>
                        &nbsp; 
                        יתכן והיה צורך חברתי אחר בהחלטה על העברת "תימני-כנרת" לרחובות אשר לא עמדתי על טיבו. אבל, בוודאי
                        שגם
                        הסבר זה לא יענה על נקודה נוספת והיא; מדוע הקונפליקט בין שתי הקבוצות, שכפי שהוצג בתחילת הניתוח הן
                        בעלות בסיס קונצנזואלי משותף, לא מביא ל"התרעננות החברה ושיפור המדינות", שיבוא לידי ביטוי בשיתוף
                        פעולה
                        ואף איחוד בין הקבוצות; אלא, התוצאה היחידה היתה שמירת הבידול בין שתי הקבוצות והעברת הקבוצה החלשה
                        למקום אחר? משמע, המרכיב הקונצנזואלי, כפי שהוצע, אינו עמוק וחזק דיו כדי להתמודד עם הקונפליקטים
                        ולשמור
                        על שתי הקבוצות במקום אחד. חיזוק לכך ניתן לקבל מהעובדה, כפי שהוצג לעיל, שחברי קבוצת כנרת קודם כל
                        דאגו
                        לצרכיהם ורק אחר כך, אם התאפשר, הם העבירו מים ועזרה ל"תימני-כנרת".
                    </p>
                    <p>
                        &nbsp; 
                        נקודה זו מעבירה אותנו לביקורת (החריפה מכל לדעתי); כיצד ניתן לטעון, במקרה האמור, שישנו בסיס
                        קונצנזואלי כאשר "תימני-כנרת" נתפסו ככאלו אשר הובאו/באו במטרה להחליף את הערבים. האם הם באים
                        להחליף את
                        הערבים בכל או שהם ממלאים רק את עבודתם ונחשבים בשאר כיהודים לכל דבר? האם בכלל ניתן לעשות הפרדה
                        שכזו?
                    </p>
                    <p>
                        &nbsp; 
                        תפיסה זו אשר ראתה בתימנים כמחליפי הערבים, (על פניו רק בתחום העבודה), תקל עלינו להבין ביתר קלות
                        מדוע
                        הפתרון שהוצע ל"תימני-כנרת", לאחר שהסתיימה העבודה בכנרת ובסביבתה, היה העברתם למקום אחר, ומדוע
                        דווקא
                        הועברו התימנים ולא קבוצת כנרת. בהתאם לתפיסה זו, אציג הסבר אפשרי אחר בפרק "נקודת מבט מעמדית".
                    </p>
                </div>
            </div>

            <!-- ==== PART 5 ==== -->
            <div class="text-center p-1" type="button" data-toggle="collapse" data-target="#collapsePart5">
                <h5>
                    נקודת מבט מעמדית
                </h5>
            </div>
            <div class="collapse" id="collapsePart5">
                <div class="card card-body-md px-2 py-1 py-md-3">
                    <p>
                        <b>
                            מהו קוליניאליזם?
                        </b>
                        <br />
                        &nbsp;
                        קולוניאליזם מוגדר כ"ייסוד ואחזקת שליטה, לפרק זמן ממושך, על אנשים זרים, המופרד וכנוע לכח השולט."
                        <span>54</span>
                        כיום, המשמעות העיקרית של קולוניאליזם אינה מתקשרת להתישבויות של אנשים ממדינת-אם במדינות זרות (כמו
                        במקרה של היוונים הקדומים), אלא מזוהה עם "שליטה על אנשים מגזעים שונים וישוב אדמות מופרדות במי-מלח
                        (ים
                        ג.מ) מהמרכז האימפריאלי".<span>55</span> בשלהי המאה התשע עשרה ובתחילת המאה העשרים החל מה שמכונה
                        "האימפריאליזם
                        החדש" שאופיין בהרחבת הקולוניות של המעצמות הקולוניאליות הקיימות, וכן בהצטרפותן של מדינות נוספות
                        מאירופה ואף מחוצה לה, דוגמת יפן, לחוג המעצמות הקולוניאליות.<span>56</span>
                    </p>
                    <p>
                        &nbsp;
                        הסיבות לקולוניאליזם הן רבות ומגוונות; בתחילה, במאה ה-15, הקולוניאליזם נבע מהרצון לגלות עולם חדש
                        ולהתגורר בארצות חדשות. אולם, אט אט מדינות האם רצו להשיג מהקולוניות משאבים כלכליים וחומריים, או
                        להשתמש בהן כנכס פוליטי ו/או אסטרטגי בזירה הבינ"ל. על פניו, להתישבות היהודית בארץ-ישראל ישנם
                        סממנים
                        ומאפיינים יחודיים, אשר לא בהכרח מתאימים להגדרה הקולוניאלית כפי שצויינה לעיל. אולם, כפי שיוצג
                        בהמשך,
                        ישנם מספר מרכיבים בהתיישבות היהודית בארץ-ישראל, אשר תואמים לבסיס ההגדרה הקולוניאליסטית. מרכיבים
                        אלו
                        יהוו את הבסיס להגדרה הקולוניאליסטית. מרכיבים אלו הם התיישבות בארץ חדשה בשאיפה לחיות ולשלוט בה
                        ובתושביה, לעתים תוך גירוש של התושבים המקומיים. שני מרכיבים אלו יהוו את הבסיס להגדרה
                        הקולוניאליסטית
                        כפי שאעשה בה שימוש בניתוח המקרה.
                    </p>

                    <b>
                        הקולוניאליזם היהודי בתקופת הישוב
                    </b>

                    <p>
                        &nbsp; 
                        את הניתוח המעמדי אבצע תוך התבססות וגזירה מתוך הרעיונות וההשוואה של התיישבות היהודית בארץ-ישראל
                        לקולוניות אירופאיות, כפי שמציג זאת גרשון שפיר בכתביו.
                        המקרה של "תימני כנרת" יוצג כמקרה מבחן שהינו מיקרו-קוסמוס של המתרחש בין היהודים לערבים. משמע,
                        אתבונן
                        על מערכת היחסים שבין יוצאי-אירופה לתימנים בכנרת כנגזרת של מערכת היחסים שבין היהודים לערבים
                        בארץ-ישראל, אותם משווה שפיר לקולוניות האירופאיות. שפיר מציג במאמרו "קרקע, עבודה ואוכלוסיה
                        בקולוניזציה הציונית" ארבע דפוסי קולוניות שונות כפי שהציגו החוקרים פילהאוס ופרדיקסון, וכן שני
                        דפוסי
                        קולוניות נוספים אותן הוא מציג בעצמו. ארבע סוגי הקולוניות הראשונות שהובחנו ע"י פילהאוס ופרדיקסן
                        הן
                        כדלקמן:

                        <ul>
                            <li><b>
                                    קולוניה צבאית Occupation Colony,
                                </b></li>
                            <li><b>
                                    קולוניה מעורבת Mixed Colony,
                                </b></li>
                            <li><b>
                                    קולוניית מטעים Plantation Colony,
                                </b></li>
                            <li><b>
                                    וקולוניית התיישבות טהורה Pure Settlement Colony.
                                </b></li>
                        </ul>
                    </p>
                    <p>
                        &nbsp; 
                        <b>הקולוניה הצבאית</b>
                        אופיינה בכך שלא היתה בה התיישבות אזרחית נרחבת, אלא רק אחזקת כח צבאי לשמירה על אזור אסטרטגי
                        מסויים.
                        בניגוד לדפוס זה, שלושת סוגי הקולוניות האחרות היו קולוניות התיישבותיות שהתבססו על התיישבות
                        אוכלוסיה
                        אירופאית במקום תוך השתלטות על המשאבים הכלכליים ובעיקר על הקרקע.
                    </p>
                    <p>
                        &nbsp;
                        <b>בקולוניה המעורבת, </b>
                        האוכלוסיה המקומית היא זו שסיפקה את כח העבודה למתיישבים זאת מבלי שהיתה הפרדה גזעית מוחלטת בין שתי
                        האוכלוסיות. דבר זה הוביל לנישואי תערובת ולהיטשטשות הגבולות בין שתי האוכלוסיות.במקרים בהם לא נמצא
                        במקום כח עבודה זול וצייתן לעיבוד המטעים, הביאו המתיישבים כח עבודה מתאים לכך. בדפוס קולוניאלי זה
                        שמוגדר בקולוניית מטעים , נשמרה ההפרדה בין האוכלוסיות, כשלעובדים נשמר מעמד חוקי וכלכלי נחות משל
                        המתיישבים.
                    </p>
                    <p>
                        &nbsp; 
                        בניגוד לשני דפוסי קולוניות ההתיישבויות שצוינו לעיל, ב<b>קולוניית ההתיישבות הטהורה</b>, המעסיקים
                        והפועלים היו שייכים לאותה קבוצה אתנית - המתישבים האירופאים. על-מנת לשמור על הומוגניות אתנית
                        וחברתית
                        נאלצו המתישבים הארופאים להשמיד או לגרש את האוכלוסיה המקומית.<span>57</span> שפיר מציג דפוס
                        קולוניאלי
                        נוסף והוא,
                        קולוניית מטעים אתנית. בסוג זה של קולוניה, התושבים המקומיים עבדו במטעיהם של המתיישבים אך נשמרה
                        הפרדה
                        אתנית ברורה בין המתיישבים למקומיים.<span>58</span>
                    </p>
                    <p>
                        &nbsp; 
                        בבואנו להשוות בין הקולוניות האירופאיות להתישבות הציונית בארץ-ישראל, יש להודות כי ישנם מספר
                        גורמים
                        המבדילים בין שני סוגי ההתיישבויות. ההבדל הראשון והעיקרי הוא בחירת מיקום ההתיישבות. מיקום
                        הקולוניות
                        האירופאיות נבחר על פי שיקולים כלכליים ואסטרטגיים, זאת בניגוד להתיישבות הציונית שבחרה בארץ-ישראל
                        משיקולים דתיים ואידיאיים. העובדה שבארץ-ישראל רוב האוכלוסיה לא היתה אוכלוסיית נוודים, וכן המחסור
                        באדמות זולות ופנויות וחוסר תמיכה צבאית, אף הם מבחינים בין הקולוניות האירופאיות להתיישבות הציונית
                        בארץ-ישראל. הבדלים נוספים אשר ניתן להצביע עליהם הם חוסר האטרקטיביות של ארץ-ישראל לעולים רבים וכן
                        חוסר עוצמה אשר מנעה שיעבוד האוכלוסיה המקומית ואיפשרה רק עבודה שכירה.<span>59</span>
                    </p>
                    <p>
                        &nbsp; 
                        בהתבוננות על ההתיישבות היהודית בארץ-ישראל, ניתן לראות דפוסים קולוניאליים שונים. בתחילה, אנשי
                        העלייה
                        הראשונה (בעידודם של הרצל ואנשי ההתאחדות הציונית העולמית) דגלו בשיטת "ההתיישבות הטהורה",שעיקרה
                        היו
                        איכרים יהודים בעלי חלקות קטנות. אותם איכרים היו אמורים לספק את מחייתם בעצמם בעיקר מגידולי השדה
                        <span>60</span> .
                        אולם, מהר מאד הבינו האיכרים כי שיטה זו מבטיחה להם רמת חיים נמוכה ביותר אשר בוודאי תביא לבריחת
                        המתיישבים מארץ-ישראל.<span>61</span> בעקבת פניה לברון אדמונד דה רוטשילד, גידולי השדה הוחלפו
                        במטעים
                        (בעיקר כרמים
                        ליין) והאיכרים הפכו לבעלי מטעים פרטיים אשר העסיקו פועלים ערביים בזול. כך דפוס "ההתיישבות הטהורה"
                        השתנה ל"קולוניית מטעים אתנית" אשר אמורה היתה להבטיח רמת חיים אירופאית ליהודים.<span>62</span>
                        ברם,
                        דרישתו של
                        רוטשילד להפוך את המטעים לרווחיים הביאה לקיצו. הכרחי בשכרם הגבוה של היהודים והביאה לעזיבת רבים
                        מהם את
                        הארץ, לעקירת מטעים רבים וסיכנה שוב את ההתיישבות היהודית בארץ-ישראל. במקביל לבעיות אלו, צצה בעיה
                        נוספת, והיא סירובו של רוטשליד לרכוש אדמות נוספות וכן הימנעותה של ההסתדרות הציונית מרכישת קרקעות,
                        בטרם התקבל אישור מהשלטון העותומני להתיישבות יהודית על אותה קרקע.<span>63</span>
                    </p>
                    <p>
                        &nbsp; 
                        כך נוצר מצב שכאשר הגיעו אנשי העלייה השניה שוק הקרקעות היה מוקפא לחלוטין, וכל אשר נותר להם לעשות,
                        היה
                        להתמודד בשוק העבודה אשר גם מצבו היה בכי רע. על כן, בשלב הראשון, החליטו היהודים כי על ידי דחיקת
                        הפועלים משוק העבודה ושמירה על מונופול בתחום זה יבטיחו לעצמם שכר שיאפשר להם רמת חיים נורמלית. לשם
                        כך
                        הם החלו במאבק על "כיבוש העבודה". בשלבים הראשונים של המאבק על כיבוש העבודה,היהודים (שעיקרם היו
                        יוצאי
                        אירופה) זכו בהצלחה מועטה ביותר. פתרון אחד אשר הוצע לבעיה זו (כפי שהוצג בתחילת העבודה), היה להביא
                        יהודים מתימן על מנת שידחקו את רגליהם של הערבים משוק העבודה. אולם, הסתבר שפתרון זה אינו מוצלח ולא
                        פותר את כל הבעיות של יוצאי אירופה. לכן, שאפו היהודים יוצאי אירופה לחזור ולהקים קולוניות
                        התיישבויות
                        טהורות ( זאת בניגוד לרוטשילד אשר דגל בקולוניית מטעים אתנית דוגמת צרפת בצפון אפריקה).
                    </p>
                    <p>
                        &nbsp; 
                        לרעיונם זה היתה תמיכה מצד ההסתדרות הציונית העולמית אשר ראתה את רעיון הקולוניזציה הפנימית כפי
                        שהונהגה
                        ע"י ממשלת פרוסיה במאה ה- 19 כמודל לחיקוי. שפיר מציג את עיקרו של הקולוניאליזם הפנימי כהשגת רוב
                        דמוגרפי בשטחים אשר נמצאים במחלוקת. כך אימצה תנועת ההתיישבות הציונית את המודל הפרוסי, תוך הוספת
                        אלמנטים אידיאולוגיים המתאימים לרעיונות הסוציאליסטים עמם הגיעו היהודים מאירופה. התוצאה היתה
                        "הקואופרציה ההתיישבותית" כפי שגובשה ע"י הסוציולוג הגרמני-יהודי פרנץ אופנהיימר ועיקר איפיונה היה
                        ה"קיבוץ".<span>64</span> מובן, שהרעיון של הקולוניאליזם הפנימי אותו אימצה תנועת ההתיישבות הציונית
                        ואשר התבסס אך
                        ורק על יוצאי אירופה (שהרי התימנים נאבקו בשוק העבודה), נתפס כפתרון אידאולוגי, סוציאליסטי, ציוני
                        הן
                        בתחום הקרקע והן בתחום העבודה. למעשה, כבר אז הוחלט (מרצון או מכורח הנסיבות) על קבלת האידיאולוגיה
                        של
                        העדפת דמוגרפיה על פני גיאוגרפיה. משמע, העדפת רוב יהודי באזורים מסוימים על פני שליטה על שטח גדול
                        יותר
                        אך להיות בו במיעוט.
                    </p>

                    <b>
                        הקולוניאליזם האשכנזי
                    </b>

                    <p>
                        &nbsp; 
                        בשלב זה נוצרת הנגזרת בין המבנה הקולוניאליסטי התיישבותי של היהודים ביחס לערבים בארץ-ישראל, לבין
                        ההתיישבות של יוצאי אירופה היהודים ביחס ליוצאי תימן. על פניו, על פי גישה זו, המקרה של "תימני
                        כנרת"
                        הוא מקרה של קולוניאליזם כזה או אחר. שהרי, יוצאי אירופה הגיעו לכנרת לאחר ש"תימני כנרת" ישבו
                        במקום,
                        השתלטו על האדמה והעבירו את התימנים למקום אחר ( דפוס המזכיר קולוניאליזם פנימי). יש לזכור נקודה
                        נוספת
                        והיא שלמרות שכל הישוב היהודי השתתף בבחירות באופן שווה,(למעט החרדים שסרבו להשתתף), ולכאורה יש
                        מאבק
                        הוגן, יוצאי אירופה היוו את רוב הישוב היהודי באופן קונסיסטנטי עד קום המדינה. כך, שכוחם של התימנים
                        מול
                        מתיישבי קבוצת כנרת שהורכבה מיוצאי מדינות אירופה היה מועט ביותר (אם בכלל).
                    </p>
                    <p>
                        &nbsp; 
                        ובכן, מנקודת מבט זו ובניגוד לגישה הפונקציונליסטית, העובדה שיוצאי אירופה והתימנים הם בני אותה דת
                        ובעלי רצון משותף שהוגדר כ"החתירה להקמת מרכז לאומי יהודי בדרך של עליית יהודים לארץ-ישראל
                        והתיישבות בה
                        וגיבושם לכלל קהילה תרבותית ופוליטית בעלת יחוד משל עצמה ומידה של אוטונומיה", פשוט אינו מספיק
                        ליצור
                        בסיס קונצנזואלי איתן. הרי מן המפורסמות שישנם עמים בעלי אותה דת ולאום הטובחים אחד בשני ללא הבחנה
                        תוך
                        רצון להיבדל, כאשר הבסיס הקונפליקטואלי הוא עמוק יותר וחזק יותר ועיקרו- האידיאולוגיה, המוצא או
                        הגזע.
                        כך גם במקרה של התימנים מול יוצאי אירופה. גם אם "תימני-כנרת" הגיעו לפני שליחות יבנאלי לתימן, הם
                        נכלאו
                        בנישה של התימנים אשר לא באים בגלל הרעיונות הציוניים שלהם, אלא, מסיבות דתיות או אולי כלכליות.
                        והרי
                        יבנאלי לא יצא בקריאה לתימנים בתימן "כל מי שציוני ורוצה להקים מדינה יהודית בארץ-ישראל", אלא, כל
                        מי
                        ש"אהבה יוקדת לארץ-ישראל מקננת בו". משמע שהתימנים לא הובאו כמי ששותפים לרעיון הציוני, אלא, כקבוצה
                        לא
                        שווה, נבדלת, אשר אמורה לסייע במשימה מסויימת. יש לשאול שאלה נוספת, מדוע דווקא יהודים מתימן הרחוקה
                        ולא
                        ממצרים, סוריה, לבנון, או כל מדינה ערבית אחרת? ובכן, התשובה היא אחת- יוצאי אירופה אשר נאבקו בשוק
                        העבודה לא חיפשו יהודים נוספים כמוהם עם רעיונות דומים, אלא בפירוש חיפשו יהודים דמוי ערבים שיהיו
                        מסוגלים לעבוד כמו ערבים, לקבל שכר נמוך כמו הערבים ולהיות צייתנים כמו הערבים רק עם הבדל קטן אחד;
                        שיהיו יהודים. ההעדפה ליהודי תימן על פני מדינות ערב אחרות הייתה משתי סיבות: הראשונה היא היותם
                        תושבי
                        האימפריה העותומנית ועל-כן קיבלו אישור בקלות יתרה לנוע ברחבי האימפריה, והסיבה השניה שבמדינות ערב
                        רבות, בניגוד ליהודי תימן שם רמת החיים היתה נמוכה, היהודים היו מבוססים כלכלית ולא התפרנסו מעבודת
                        כפיים.לכן, התאימו כל-כך התימנים לתפקיד שיועד להם - כיבוש עבודת האדמה מהערבים. תפיסה זו היתה
                        מקובלת
                        לא רק על האיכרים אלא גם על המשרד הארצישראלי ואף על חוגים שונים בישוב. לטענתם: "התימנים בהיותם
                        אנשי
                        עבודה, מסתפקים במועט, חרוצים וישרים, יטיבו למלא את מקום הערבים במושבה ויסתפקו בשכר מועט כמותם."
                    </p>
                    <p>
                        &nbsp; 
                        כמו כן, "רמתם התרבותית של התימנים שהוגדרה כנמוכה נחשבה הולמת במיוחד את עבודת האדמה הבלתי מתוחכמת
                        והם
                        נחשבו ל"פועלים טבעיים", "כח עבודה", "בעלי ערך כלכלי רב". היותם רגילים לאקלים האזור, דתיותם
                        ונתינותם
                        העותומנית נחשבו כיתרונות נוספים. מצבם הקשה בתימן היה ידוע לראשי התנועה שראו בא"י ארץ מקלט
                        עבורם"...
                        <span>65</span> את חוסר קבלת התימנים כשווים ליוצאי אירופה ניתן להבין מרעיונו של אהרון איזנברג,
                        מנהל
                        "אגודת-נטעים", שהועלה במטרה להבטיח את "כח העבודה התימני"; לדבריו כל אשר צריך היה לבנות כפרים
                        בסמוך
                        למושבות של יוצאי אירופה, בדיוק כמו שעשו עם הערבים. בכפרים יבנו להם "בתים זולים וקטנים" ובעזרת
                        המשק-החי, הגינות ועבודתם במושבות הם יחזירו את חובם על הבתים במשך תקופה ארוכה, וכך יהיו תלויים
                        בעבודתם במושבות.<span>66</span> הדיעה שיש לנסות ולעורר את העלייה מתימן באורח עקיף על מנת למנוע
                        עליה
                        המונית מחד
                        ומניעת יצירת אחריות כלפי התימנים מאידך,<span>67</span> מעידה אף היא על התפיסה הבדלנית העמוקה בה
                        יוצאי אירופה לא
                        ראו בתימנים חלק בלתי נפרד מהרעיון הציוני שחובה לקחת עליו אחריות. למעשה כל ההתייחסות לתימנים בעצם
                        הרעיון להביאם וכלה באופן הטיפול שהוצע בהם (כפי שהוצג עד כה) מתאים בדיוק להגדרה של קולוניית מטעים
                        אתנית (למעט כמובן העובדה שמדובר בבני אותו עם). ביחד ל"תימני-כנרת", ועל פי גישה זו, ניתן לראות
                        דפוס
                        קולוניאלי משתנה באופן די דומה לקולוניאליזם היהודי כלפי הערבים באותה עת בתחילה, כשהגיעו
                        "תימני-כנרת"
                        לכנרת, הם עבדו כפועלים במושבות הסביבה (דגניה, ביתניה, חוות הפועלים ועוד), כממלאים את מקום הערבים
                        בקולוניית המטעים האתנית. אולם, התימנים (באופן כללי) לא החליפו את הערבים אלא הקימו פלח שוק חדש של
                        פועלים שמוקם בין הערבים לאשכנזים.<span>68</span> במקביל, קבוצת כנרת עלתה על הקרקע בסמוך למקום
                        מושבם
                        של "תימני
                        כנרת" וכך (כפי שצויין בתחילת העבודה) צצה בעיה של אמצעי קיום ומיעוט משאבים (בעיקר מים וקרקעות)
                        לשתי
                        הקבוצות. כמו-כן, "תימני כנרת", אשר עבודתם השכירה במושבות הופסקה, החלו להקים משק חקלאי עצמאי
                        לקיומם
                        וחדלו (או/אולי אף לא החלו בכלל) למלא את מקום הערבים בקולוניית המטעים האתנית. בשלב זה צצה הבעיה,
                        שהרי
                        ראינו כי ההחלטה היתה לאפשר ליהודים יוצאי מדינות אירופה להקים התיישבויות קואופרטיביות עצמאיות
                        המנותקות הן מהערבים והן מהתימנים. אולם, במקרה של כנרת, קבוצת כנרת נוסדה כאשר התימנים היו במקום,
                        מנהלים באופן עצמאי את חייהם ומספקים את צרכיהם הקיומיים, באופן די דומה להתישבויות הקואופרטיביות.
                        לדעתי, נקודה זו היא נקודת המבחן האם המוטיב המרכזי בפרשה זו הוא קונצנזואלי או קונפליקטואלי. שהרי,
                        אליבא הקונצנזואליים, המרכיבים הקונפלקיטואלים מטרתם למנוע את קיפאון החברה ושיפור המדיניות. כך
                        שכאשר
                        קמה קבוצת כנרת לצד "תימני כנרת" אך טבעי הוא שיצוצו קונפליקטים, אשר על הבסיס המשותף יביאו לשיפור
                        המצב
                        הקיים ושיתוף פעולה בין הקבוצות. מאידך, אם הבסיס הוא אכן קונפליקטואלי, לא ניתן יהיה לגשר על
                        הקונפליקטים, והעימות יהיה בלתי נמנע וללא פשרות. ואכן, אם נתבונן על כנרת כמיקרו-קוסמוס, ישנו דפוס
                        קולוניאלי מובהק עם בסיס קונפליקטואלי.
                    </p>
                    <p>
                        &nbsp; 
                        אם בשלב הראשון בו "תימני-כנרת" עדיין היו המחליפים של הערבים ניתן לדבר על תפקיד פונקציונלי ולא על
                        קולוניית מטעים אתנית, כיצד ניתן יהיה להסביר את השתלשלות האירועים בהמשך. ראינו כי התקבלה החלטה על
                        פתרון פנימי בו היהודים יקימו קואופרציות עצמאיות על אדמות שיירכשו עבורן, ובמקביל, "תימני-כנרת"
                        חדלו
                        מלעבוד במושבות הסביבה והחלו אף הם להקים משק עצמאי. העובדה שקבוצת כנרת עמדה על כך בתוקף שהתימנים
                        יועברו, מעידה על חוסר רצון בשיתוף פעולה או בבסיס משותף. ישנו למעשה רצון לבנות מושבה (=קולוניה)
                        אתנית
                        טהורה, בה יהיו רק יוצאי אירופה. הדרך לכך היא נקיטת פעולה של קולוניזציה פנימית, קרי, השגת שליטה
                        על
                        שטח מסויים המצוי במחלוקת, זאת ללא שיתוף פעולה עם הקבוצה האחרת,ובמקרה זה על ידי גירוש/העברה.
                        נקודה
                        מעניינת נוספת, אשר ללא ספק מעידה על גישה קולוניאליסטית כלפי "תימני-כנרת", באה מתוך פרוטוקול
                        ביקור
                        הוועדה להתיישבות התימנים בכנרת מיום 16/2/25.<span>69</span> במסמך מוצגת בעיית האדמות של קבוצת
                        כנרת
                        גם של
                        "תימני-כנרת", כאשר הפתרון המוצע ע"י חברי הקבוצה הוא שיעבירו את התימנים למקום אחר. אין כל נסיון
                        להציע
                        פתרונות אחרים על בסיס שיתוף פעולה; פשוט להעביר את התימנים.
                    </p>
                    <p>
                        &nbsp; 
                        הרעיון הוא בדיוק קולוניאליזם, הקבוצה שהגיעה מאוחר יותר ובעלת העוצמה הרבה יותר מגרשת את התושבים
                        המקומיים. לדעתי, מכתבו של משה סמילנסקי , כפי שהתפרסם ב- 1925, מציג את הבסיס הקונפליקטואלי העמוק
                        עם
                        הפתרון הקולוניאליסטי המובהק שהוצע ( גם אם הוא לא התכוון לכך). להלן דבריו:
                        <br />
                        <i><b>
                                "בין השכונה האומללה הזאת (שכונת התימנים ג.מ.) מצד אחד ובין גבעת-כנרת וה"מחלקה" מצד שני
                                שי
                                סכסוך. השכונה יושבת זה 15 שנים על 80 דונם קרקע, היכולה כולה להיות מושקה. הקבוצה רוצה
                                בקרקע
                                הזו כי היא צריכה לה כאוויר לנשימה. "המחלקה" מסכימה עם הקבוצה להעביר את השכונה למקום אחר.
                                והשכונה, כמובן,לא מסכימה. באופן "אובייקטיבי" הצדק עם הקבוצה ועם "המחלקה". כל אדמת כנרת
                                צרה
                                מלהכיל 20 משפחות ו"המחלקה" הצליחה ליישב על כברת אדמה זו קבוצה של 50 חבר, הנחלקים לכה"פ ל
                                -
                                25 בתי אב ועשר משפחות התימנים. כיום כולם ביחד רעבים, ולא רק לקרקע, כי אם גם ללחם. ולבוש
                                אין
                                גם לחברי הקבוצה. לשכונת התימנים אין זכות קיום במקום הזה, במובן הכלכלי, הסניטרי והציבורי.
                                חוסר "המניין" מדכא את התימנים עד עפר. להגדיל את מספרם במקום הזה, בוודאי, אין אפשרות. עם
                                הקבוצה אינם יכולים להתאחד לא במובן הכלכלי ולא במובן הציבורי. שני עולמות זרים ורחוקים.
                                מתוך
                                השקפה אובייקטיבית אכזרית - צריכים התימנים ללכת, ובעיניהם דומה דבר לגזילה. הרי הם יושבים
                                כאן
                                15 שנה. פה מתו הוריהם, נשיהם, ילדיהם. והקבוצה בהרכבתה האחרונה כנרת, אחת מאותן הקבוצות
                                שחבריהן מתחלפים באופן תדיר- ברובה המכריע רק לפני שלוש נים באו אל הארץ. אם צר המקום- תלך
                                הקבוצה".<span>70</span>
                            </b></i>
                    </p>
                </div>
            </div>

            <!-- ==== PART 6 BIBLIOGRAPHY ==== -->
            <div class="text-center p-1" type="button" data-toggle="collapse" data-target="#collapsePart6">
                <h5>
                    ביבליוגרפיה
                </h5>
            </div>

            <div class="collapse" id="collapsePart6">
                <div class="card card-body-md px-2 py-1 py-md-3" id="bibliography">
                    <ol class="py-2 px-4 ">
                        <li>
                            מרגלית (צאירי) יוסף, "מתימן לכנרת-סיפורו האישי של מתיישב בכנרת. אצל סרי שלום, עורך.
                            <span>סעי
                                יונה</span>. תל-אביב, אגודת ‏"אעלה בתמר" ועם-עובד, 1984, עמ' 131-132.
                        </li>
                        <li>
                            שם, עמ' 132-133.
                        </li>
                        <li>
                            צור מוקי. "מטע בעמק הירדן- בעקבות חלוצי העליה השנייה". אצל צור מוקי ואהרון ישראלי (עורכים).
                            <span> על שפת אגם סואן</span>.
                            תל-אביב, עם-עובד, 1990. עמ' 222-223.
                        </li>
                        <li>

                            "הועד להנצחת תימני כנרת". <span>תימני כנרת 1910-1990</span>. רחובות, ש.ה.ר, תשנ"א, עמ' 4.
                        </li>
                        <li>
                            שם.
                        </li>
                        <li>
                            ראה נספח מספר 6.
                        </li>
                        <li>
                            פרקי הפוה"צ כרך ח' מספר 15 אייר תרע"ה, מאי 1915.
                        </li>
                        <li>
                            ראה נספחים מספר 5 ו- 7.
                        </li>
                        <li>
                            ביקור הועדה להתישבות התימני בכנרת. 16/2/1925. (ראה נספח מספר 10).
                        </li>
                        <li>
                            מכתבו של ש. זנדברג מקבוצת כנרת למחלקה להתישבות חקלאית בירושלים. ו' אייר תרפ"ד. (ראה נספה מס
                            11).
                        </li>
                        <li>
                            מכתבו של משה בן חיים מתימני כנרת להנהלה הציונית. ו' טבת תרפ"ט. (ראה נספה מספר 12).
                        </li>
                        <li>
                            מכתבו של בן ציון ישראלי מקבוצת כנרת למחלקת ההתיישבות של ההנהלה הציונית בירושלים. 15/1/1929.
                            (ראה נספח מספר 13).
                        </li>
                        <li>
                            שם.
                        </li>
                        <li>
                            סרי שלום, שם. עמ' 144.
                        </li>
                        <li>
                            שם.
                        </li>
                        <li>
                            טילי צ'. "האם המודרניזציה מצמיחה מהפכה?" עמ'‏ 381. אצל אייזנשטדט ש.נ ואת' (עורכים).
                            <span>מדינה
                                וחברה</span>. תל-אביב, עם-עובד, 1984, עמ' 388-369.
                        </li>
                        <li>
                            לוי גל. <span>ותודה לאשכנזים</span>. עבודת גמר לקבלת תואר מוסמך. אוניברסיטת תל-אביב. 1995.
                            עמ'
                            59.
                        </li>
                        <li>
                            בן-גוריון דוד: "בתגי חצי-יובל", אצל חבס ב' (עורכת), <span>ספר העליה השניה</span>. עם-עובד,
                            תל-אביב,תש"ז.
                            עמ' 17.
                        </li>
                        <li>
                            לוי גל. שם. עמ'62-63 .
                        </li>
                        <li>
                            מרדכי נאור, גלעדי דן. <span>ארץ-ישראל במאה ה-20</span>. תל-אביב. משהב"ט. 1990. עמ'13-14.
                        </li>
                        <li>
                            שם. עמ' 14-15.
                        </li>
                        <li>
                            שם. עמ' 195.
                        </li>
                        <li>
                            איונשטדט ש.נ ואח'. <span>עדות בישראל ומיקומן החברתי</span>. ירושלים, מכון ירושלים לחקר
                            ישראל,
                            1993. עמ'
                            4.
                        </li>
                        <li>
                            זיסר ברוך. עורך. <span>מדע המדינה לגווניו</span>. תל-אביב, האוניברסיטה הפתוחה, 1993. עמ'
                            486-487.
                        </li>
                        <li>
                            שם. עמ' 487-488.
                        </li>
                        <li>
                            שם. עמ' 489.
                        </li>
                        <li>
                            שפירא יונתן, בן-אליעזר אורי. <span>יסודות הסוציולוגיה</span>. תל-אביב, עם-עובד, 1986. עמ'
                            171.
                        </li>
                        <li>
                            דורקהיים אמיל, "מתוך: חלוקת העבודה וסולידריות חברתית", בתןך באטשה צבי ויסעור אברהם, עורכים.
                            <span>המשנות המדיניות בעת החדשה</span>.
                            תל-אביב, ניומן, 1975. עמ' 333.
                        </li>
                        <li>
                            ראה עמ' 4 בעבודה זו.
                        </li>
                        <li>
                            הורוביץ דן, ליסק משה. <span>מצוקות באוטופיה</span>. תל-אביב, עם-עובד, 1992. עמ' 46.
                        </li>
                        <li>
                            מרגלית (צאירי) יוסף. שם. עמ' 131.
                        </li>
                        <li>
                            איזנשטדט ש.נ. <span>מבוא לחקר המבנה הסוציולוגי של עדות המזרח</span>. ירושלים, דפוס מרכז,
                            תש"ח.
                            עמ' 8.
                        </li>
                        <li>
                            שם.
                        </li>
                        <li class="li-english">
                            KATRIEL TAMAR. <span>TALKING STRAIGHT: DUGRI SPEECH IN ISRAELI SABRA CULTURE</span>.
                            NEW-YORK,
                            CAMBRIDGE
                            UNIVERSITY PRESS, 1987. PAGE 17.
                        </li>
                        <li>
                            ראה נספח מספר 1.
                        </li>
                        <li>
                            ראה נספח מספר 2.
                        </li>
                        <li>
                            איזנשטדט ש.נ. שם. תש"ח, עמ' 36.
                        </li>
                        <li>
                            הורוביץ דן, ליסק משה. שם. עמ'106.
                        </li>
                        <li>
                            KATRIEL TAMAR. OP.CIT.
                        </li>
                        <li>
                            <span>בין ציון לציונות. תולדות התנועה הציונית 1881-1914</span>.
                            יחידה 10. תל-אביב , האוניברסיטה-הפתוחה.
                            1979. עמ' 40.
                        </li>
                        <li>
                            ארתור רופין. <span>חיי</span>. ב', עם-עובד. תל-אביב. תש"ז, עמ' 103.
                        </li>
                        <li>
                            קמון עזריאל. <span>השיבה למזרח, המרכיב הרומנטי והמוטיב האוטוכטוני בישוב בתקופת העליה
                                השניה</span>.
                            אוניברסיטת תל-אביב. 1989. פרק 5.
                        </li>
                        <li>
                            שמואל יבניאלי. <span>מסע לתימן</span>. תל אביב, מפא"י, תשי"ב, עמ' 201.
                        </li>
                        <li>
                            שם. עמ' 87.
                        </li>
                        <li>
                            שם. עמ' 85.
                        </li>
                        <li>
                            רופין ארתור. "אחרי עליה". תרע"ג. אצל קמון עזריאל. שם. עמ' 248.
                        </li>
                        <li>
                            לוי גל. שם. עמ' ‏ 63. וגם פרקי הפוה"צ כרך ח' מספר 15 אייר תרע"ה, מאי 1915.
                        </li>
                        <li>
                            שם.
                        </li>
                        <li>
                            ביקור הועדה להתישבות התימנים בכנרת. 16/2/1925. (ראה נספח מספר 10).
                        </li>
                        <li>
                            ראה נספח מספר 3.
                        </li>
                        <li>
                            מרגלית (צאירי) יוסף. שם. עמ' 136.
                        </li>
                        <li>
                            ראה נספחים 8 - 4.
                        </li>
                        <li>
                            ראה נספח מספר 10.
                        </li>
                        <li class="li-english">
                            SILLS DAVID L. (EDITOR). <span>INTERNATIONAL ENCYCLOPEDIA OF THE SOCIAL SCIENCES</span>.
                            V.3.
                            THE MACMILLAN
                            COMPANY & THE FREE PRESS. 1968. PAGE 1
                        </li>
                        <li class="li-english">
                            IBID.
                        </li>
                        <li class="li-english">
                            <span>THE NEW ENCYCLOPEDIA BRITANNICA</span>. HELEN HEMINGWAY BENTON, PUBLISHER.
                            CHICAO/LONDON &
                            MORE. 1974.
                            PAGE 894.
                        </li>
                        <li>

                            שפיר גרשון. "קרקע, עבודה ואוכלוסיה בקולוניזציה הציונית: היבטים כלליים ויחודיים". אצל, רם
                            אורי,
                            עורך. <span>החברה הישראלית: היבטים ביקורתיים</span>. תל-אביב, ברירות, 1993. עמ' 106.
                        </li>
                        <li>
                            שם עמ' 107 - 106.
                        </li>
                        <li>
                            שם.
                        </li>
                        <li class="li-english">
                            SHAFIR GERSHON. <span>LAND, LABOR AND THE ORIGINS OF THE ISRAELI-PALESTINIAN CONFLICT,
                                1882-1914</span>.
                            CAMBRIDGE, CAMBRIDGE UNIVERSITY PRESS, 1989. PAGES 146 - 147.
                        </li>
                        <li>
                            שפיר. שם. עמ' 110.
                        </li>
                        <li>
                            שם.
                        </li>
                        <li>
                            שם. עמ' 111.
                        </li>
                        <li class="li-english">
                            SHAFIR. OP.CIT. PAGES 10-11.
                        </li>
                        <li>
                            מרגלית שילה. <span>ניסיונות בהתישבות, המשרד הארצישראלי 1908-1914</span>. ירושלים, יד יב"צ,
                            תשמ"ה. עמ' 161.
                        </li>
                        <li class="li-english">
                            SHAFIR. OP.CIT. PAGES 100-101.
                        </li>
                        <li class="li-english">
                            IBID.
                        </li>
                        <li class="li-english">
                            IBID. PAGE 104.
                        </li>
                        <li>
                            ראה נספח מספר 10.
                        </li>
                        <li>
                            סמילנסקי משה. הפוה"צ מספר 29. ז' באייר תרפ"ה. 1/5/1925. (ראה נספח מספר 14).
                        </li>
                        <li>
                            בג"צ 3745/94.
                            <span>"תימני כנרת" נ' קבוצת כנרת ואח'</span>.

                        </li>
                        <li>
                            נושא "תימני כנרת" קיבל תהודה רבה בעיתונות הכתובה והמשודרת בינהם בתוכנית "ערב חדש", תוכנית
                            הרדיו
                            "הכל דיבורים", בסרט דוקומנטרי בשם "דקל שפל צמרת" וכן פירסומים רבים בעיתונות הארצית והמקומית.
                            (ראה ביבליוגרפיה)
                        </li>
                        <li>
                            סמילנסקי משה. <span>תקומה ושואה</span>. עמ' 41 - 40.
                        </li>

                    </ol>
                </div>
            </div>

        </div>
    </div>

</section>


<% include ./../partials/footer %>