<% include ./../partials/header %>
<% include ./../partials/navbar %>

<section class="article section">
    <div class="container pt-4 mt-4 index-content">

        <div class="container p-5 card ">

            <h5 class="text-center p-3 bold">
                סיפורו של שלט - הסיפור שלי | גיל מנצור
            </h5>

            <div>
                <hr class="my-4">
            </div>

            <p>קוראים לי גיל מנצור.
            </p>
            <p>
                אני בנו של בן ציון מנצור יבדל"א, נכדו של משה מנצור ז"ל שנולד בתימן בשנת 1897 ונפטר בשנת 2002 (בגיל 105)
                ונינו של חיים מנצור ז"ל הקבור בכנרת. סבי משה עלה לארץ בשנת 1907, בהיותו בן 10, עם הוריו ואחותו, סלמה,
                דרך פורט סעיד שבמצריים. עם עלייתם לארץ הם התיישבו ליד המושבה כנרת. זמן קצר לאחר הגעתם למקום נכנעו הוריו
                ואחותו של סבי לרעב ולמחלת הקדחת ונפטרו. סבא, שהיה עדיין ילד, נותר לבדו. לימים, הוא אהב לספר לנו הנכדים
                כיצד אברהם הרצפלד, מי שדאג לקליטת התימנים בכנרת, לקח אותו תחת חסותו, ואף לקח אותו לטיפולים בבית החולים
                בטבריה.

            </p>
            <p>
                בנסיבות העניין, סבי נשלח למושבה כנרת שם התגוררו, בקהילה משלהם, קבוצה של תימנים שעלו לארץ בשנת 1912 ממחוז
                שרעב שבתימן. הם עלו לארץ ישראל לאחר דרך חתחתים ותלאות רבות, ובסופו של דבר התיישבו על שטח אדמה לחופי
                הכנרת, במקום בו שכנה חוות כנרת. בין חברי הקבוצה הייתה, אסתר צאירי ז"ל, אותה נשא לאשה - היא סבתי.
            </p>
            <p>
                בכנרת הוקצה לתימנים מבנה אחד בלבד- "בית המוטור", אשר שימש לשאיבת מים מהירדן לצרכי השקיה.
            </p>
            <p>
                התימנים עסקו בייבוש הביצות, הכשרת הקרקע לחקלאות וגידול משק חי וצומח. הם גם עסקו בעבודה שכירה באיזור
                ובכלל זה בעבודות תשתית לתחנת החשמל בנהריים ובסלילת כבישים באזור.
            </p>
            <p>
                אלו הם "תימני כנרת".
            </p>
            <p>
                כדי לחוש מעט מהאווירה של אותה תקופה, להלן ציטוט ממכתבו של הרב דוד ישראל מתימני כנרת מיום 18/6/1927:
                <div class="px-4">
                    <i>
                        "שלום לכם –ברוכים הבאים בשם כנרת א"י י"ח סיוון תרפ"ז,

                        שלום וברכה וטובה. שלום לקראת מעלת כבוד המבקרים את א"י השם ישמרם ויעזרם ויצליח את דרכם ויחזרו
                        לביתם לשלום, אנחנו תימני כנרת נודיע לכם כי כאשר הגענו לכנרת אפילו עץ אחד לא היה לתחילת עבודתנו
                        סתימת הביצה ואחר כך חפרנו בורות בשביל "האקליפטוס", אחר כך סיקלנו אבנים הוצאנו סגרות באדמת הק"ק
                        בכנרת..."
                    </i>
                </div>
            </p>
            <p>
                אחרי כ-20 שנות התיישבות במקום הועברו התימנים ממקום מושבם בכנרת וייסדו את מושב העובדים הראשון של בני העדה
                התימנית - מרמורק.
            </p>
            <p>
                ועל כך הרב דוד ישראל בהמשך מכתבו:
                <div class="px-4">
                    <i>
                        "...אמרו אין לכם ישוב בכנרת כי אדמת כנרת בשביל הקבוצה. אמרנו זה הדבר לא יהיה ולא יעשו ככה
                        היהודים שאנחנו נשתקענו 19 שנה בכנרת וסבלנו תלאות ויסורין ומתו ממנו 38 נפשות ויש לנו זכויות באדמת
                        כנרת..."
                    </i>
                </div>
            </p>

            
            <p>שכחתי לציין, אני גר ברחובות בשכונת מרמורק ברחוב כנרת- על שם תימני כנרת אשר ייסדו את כפר מרמורק.
            </p>
            <p>בסוכות 8/10/90 – אחרי 62 שנה, בטקס מרגש, הוסר הלוט מעל שלט הנצחה שהוצב ליד בית המוטור בכנרת:
                <div id="kineret-sign" class="bold px-5 py-3 text-center">
                    <p>"תימני כנרת"
                    </p>
                    <p>כאן בסביבה זו של ביצת כנרת התיישבה קבוצה קטנה מעולי תימן.
                    </p>
                    <p>עשר משפחות (צאירי-מרגלית, מנצור, יפת ונדאף) הגיעו לכנרת ב-1912, יבשו ביצות, עקרו סידראות,
                    </p>
                    <p>הכשירו קרקע, גידלו ירקות ומשק חי ועבדו כפועלים בחוות שבסביבה ובסלילת כבישים.
                    </p>
                    <p>
                        כשהחלו העבודות לבניית תחנת החשמל בנהריים, השתתפו בעבודות התשתית.
                    </p>
                    <p>
                        "בבית המוטורים" גר "המורי" של "תימני כנרת", הרב דוד בן ישראל צאירי ועוד שתי משפחות.
                    </p>
                    <p>
                        בשנת 1915 נבנו עבורם חמישה בתים.
                    </p>
                    <p>
                        בשנת 1930 הועברו "תימני כנרת" לכפר מרמורק ליד רחובות.
                    </p>
                    <p>
                        זה היה מושב התימנים הראשון בארץ ישראל
                    </p>

                </div>
            </p>
            <p>
                שלט צנוע במקום בו התיישבו תימני כנרת.
            </p>

            <img src="" alt="">

            <p>טקסט תמציתי, היסטורי- עובדתי שאינו אלא חלק מפסיפס/מארג ענק המהווה את סיפורם של בני ישראל מקדמה וימה,
                מצפון ומדרום במרוצת הדורות בשאיפתם לחיות בארץ ישראל ...
            </p>
            <p> בין היתר, זה גם הסיפור של המשפחה שלי.
            </p>
            <p>
                משום מה, בקבוצת כנרת בחרו להוריד את שלט ההנצחה שהוצב בסמוך לבית המוטור.
            </p>
            <p>
                לא הבנתי אף פעם למה, מעניין.
            </p>
            <p>
                טוב, זה לא ישנה את העובדה שממש ליד נעמי שמר ורחל, קבור גם סבא רבא שלי ועוד רבים מתימני כנרת, הנה, תראו
                בתמונה משמאל:
            </p>


        </div>
    </div>
</section>

<% include ./../partials/footer %>