<% include ../partials/header %>
<% include ../partials/navbar %>

<section id="gallery" class="section">
    <div class="container mt-md-4">
        <div class="d-flex justify-content-center my-3">
            <h1> תמונות <i class="fas fa-camera-retro"></i></h1>
        </div>
        
        <hr class="mb-n3">

        <div class="gallery row justify-content-around p-3">
            <div class="col-sm-6 col-md-4 my-4">
                <a href="/images/gallery/life-in-kineret/1.jpg" data-lightbox="mygallery"> <img
                        src="/images/gallery/life-in-kineret/1.jpg" class="img-fluid"> </a>
            </div>
            <div class="col-sm-6 col-md-4 my-4">
                <a href="/images/gallery/life-in-kineret/2.jpg" data-lightbox="mygallery"> <img
                        src="/images/gallery/life-in-kineret/2.jpg" class="img-fluid"> </a>
            </div>
            <div class="col-sm-6 col-md-4 my-4">
                <a href="/images/gallery/life-in-kineret/5.jpg" data-lightbox="mygallery"> <img
                        src="/images/gallery/life-in-kineret/5.jpg" class="img-fluid"> </a>
            </div>
            <div class="col-sm-6 col-md-4 my-4">
                <a href="/images/gallery/life-in-kineret/7.jpg" data-lightbox="mygallery"> <img
                        src="/images/gallery/life-in-kineret/7.jpg" class="img-fluid"> </a>
            </div>
            <div class="col-sm-6 col-md-4 my-4">
                <a href="/images/gallery/life-in-kineret/8.jpg" data-lightbox="mygallery"> <img
                        src="/images/gallery/life-in-kineret/8.jpg" class="img-fluid"> </a>
            </div>
            <div class="col-sm-6 col-md-4 my-4">
                <a href="/images/gallery/life-in-kineret/9.jpg" data-lightbox="mygallery"> <img
                        src="/images/gallery/life-in-kineret/9.jpg" class="img-fluid"> </a>
            </div>

        </div>

    </div>
</section>


<% include ../partials/footer %>